In [10]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error

In [16]:
df_train = pd.read_csv("./train.tsv",sep="\t")
df_test = pd.read_csv("./test.tsv",sep="\t")
df_sample_submit = pd.read_csv("./sample_submit.csv",header=None)
display(df_train.head())
display(df_test.head())
display(df_sample_submit.head())

,Unnamed: 0,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,0,39.4,4,85.0,70,2070,18.6,78,3,datsun b210 gx
1,3,18.0,6,171.0,97,2984,14.5,75,1,ford pinto
2,9,32.7,6,168.0,132,2910,11.4,80,3,datsun 280-zx
3,11,38.1,4,89.0,60,1968,18.8,80,3,toyota corolla tercel
4,13,28.0,4,98.0,80,2164,15.0,72,1,dodge colt (sw)

,Unnamed: 0,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,1,8,350.0,180,4499,12.5,73,1,oldsmobile vista cruiser
1,2,4,156.0,105,2745,16.7,78,1,plymouth sapporo
2,4,6,156.0,108,2930,15.5,76,3,toyota mark ii
3,5,4,108.0,70,2245,16.9,82,3,toyota corolla
4,6,4,105.0,63,2125,14.7,82,1,plymouth horizon miser

   0     1
0  1  40.9
1  2  28.8
2  4  11.0
3  5  19.4
4  6  14.0

In [4]:
df_horsepower = df_train[df_train["horsepower"] != "?"]
df_horsepower["horsepower"] = df_horsepower["horsepower"].astype("int64")
horsepower_mean= df_horsepower["horsepower"].mean()
horsepower_mean
df_train["horsepower"] = df_train["horsepower"].apply(lambda x: horsepower_mean if x == "?" else x)
df_train["horsepower"] = df_train["horsepower"].astype("int64")
df_train.mean()

C:\Users\cax68\AppData\Local\Temp/ipykernel_19432/700271369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_horsepower["horsepower"] = df_horsepower["horsepower"].astype("int64")
C:\Users\cax68\AppData\Local\Temp/ipykernel_19432/700271369.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_train.mean()

Unnamed: 0       200.170854
mpg               22.997990
cylinders          5.527638
displacement     200.889447
horsepower       107.246231
weight          3063.326633
acceleration      15.599497
model year        75.904523
origin             1.587940
dtype: float64

In [5]:
print(df_train.corr())

              Unnamed: 0       mpg  cylinders  displacement  horsepower  \
Unnamed: 0      1.000000 -0.005616  -0.025172     -0.039416   -0.044259
mpg            -0.005616  1.000000  -0.793012     -0.820597   -0.764077
cylinders      -0.025172 -0.793012   1.000000      0.947816    0.833945
displacement   -0.039416 -0.820597   0.947816      1.000000    0.902293
horsepower     -0.044259 -0.764077   0.833945      0.902293    1.000000
weight         -0.050945 -0.854548   0.909054      0.946437    0.872744
acceleration    0.033751  0.445578  -0.495192     -0.559381   -0.711227
model year     -0.022741  0.531445  -0.327977     -0.352672   -0.393492
origin          0.040376  0.575644  -0.598204     -0.636646   -0.471399

                weight  acceleration  model year    origin
Unnamed: 0   -0.050945      0.033751   -0.022741  0.040376
mpg          -0.854548      0.445578    0.531445  0.575644
cylinders     0.909054     -0.495192   -0.327977 -0.598204
displacement  0.946437     -0.559381   -0.352672 -0.636646
horsepower    0.872744     -0.711227   -0.393492 -0.471399
weight        1.000000     -0.453418   -0.290512 -0.631557
acceleration -0.453418      1.000000    0.310780  0.238708
model year   -0.290512      0.310780    1.000000  0.072809
origin       -0.631557      0.238708    0.072809  1.000000

In [7]:
target_col = ["mpg"]
feature_col = ["cylinders","displacement","horsepower","weight"]
y = df_train[target_col]
X = df_train[feature_col]
model = Ridge()
model.fit(X,y)

Ridge()

In [11]:
df_train["pred_mpg"] = model.predict(X)
df_train[["mpg","pred_mpg"]].head()

    mpg   pred_mpg
0  39.4  30.251077
1  18.0  23.468654
2  32.7  23.518233
3  38.1  31.011892
4  28.0  29.535817

In [12]:
mean_absolute_error(df_train["mpg"],df_train["pred_mpg"])

3.0860677866314705

In [15]:
display(df_test[df_test["horsepower"] == "?"])
df_horsepower = df_train[df_test["horsepower"] != "?"]
df_horsepower["horsepower"] = df_horsepower["horsepower"].astype("int64")
horsepower_mean= df_horsepower["horsepower"].mean()
print(horsepower_mean)
df_test["horsepower"] = df_test["horsepower"].apply(lambda x: horsepower_mean if x == "?" else x)
df_test["horsepower"] = df_test["horsepower"].astype("int64")
display(df_test[df_test["horsepower"] == "?"])
print(df_train.mean())
display(df_test.head())

Empty DataFrame
Columns: [Unnamed: 0, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

107.2462311557789

Empty DataFrame
Columns: [Unnamed: 0, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

Unnamed: 0       200.170854
mpg               22.997990
cylinders          5.527638
displacement     200.889447
horsepower       107.246231
weight          3063.326633
acceleration      15.599497
model year        75.904523
origin             1.587940
pred_mpg          22.997990
dtype: float64

C:\Users\cax68\AppData\Local\Temp/ipykernel_19432/500584516.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df_train.mean())

,Unnamed: 0,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,1,8,350.0,180,4499,12.5,73,1,oldsmobile vista cruiser
1,2,4,156.0,105,2745,16.7,78,1,plymouth sapporo
2,4,6,156.0,108,2930,15.5,76,3,toyota mark ii
3,5,4,108.0,70,2245,16.9,82,3,toyota corolla
4,6,4,105.0,63,2125,14.7,82,1,plymouth horizon miser

In [25]:
df_test["mpg"] = model.predict(X)
df_test["mpg"] = df_test["mpg"].astype("int64")
display(df_test.head())
print(df_test.info())

,Unnamed: 0,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,mpg
0,1,8,350.0,180,4499,12.5,73,1,oldsmobile vista cruiser,30
1,2,4,156.0,105,2745,16.7,78,1,plymouth sapporo,23
2,4,6,156.0,108,2930,15.5,76,3,toyota mark ii,23
3,5,4,108.0,70,2245,16.9,82,3,toyota corolla,31
4,6,4,105.0,63,2125,14.7,82,1,plymouth horizon miser,29

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    199 non-null    int64
 1   cylinders     199 non-null    int64
 2   displacement  199 non-null    float64
 3   horsepower    199 non-null    object
 4   weight        199 non-null    int64
 5   acceleration  199 non-null    float64
 6   model year    199 non-null    int64
 7   origin        199 non-null    int64
 8   car name      199 non-null    object
 9   mpg           199 non-null    int64
dtypes: float64(2), int64(6), object(2)
memory usage: 15.7+ KB
None

In [26]:
df_sample_submit[1]=df_test["mpg"]
display(df_sample_submit.head())

   0   1
0  1  30
1  2  23
2  4  23
3  5  31
4  6  29

In [27]:
df_sample_submit.to_csv("E:\Documents\Python\SIGNATE\都市サイクルの燃料消費量予測\sample_submit.csv",index=False)