## データ読み込み

In [1]:
# ライブラリのインポート
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# データの読み込み
test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')
print(test_data.head())
print(train_data.head())

         id  loan_amnt     term  interest_rate grade employment_length  \
0   1496754     1912.5  3 years          10.16    B1           5 years
1  84909594     1800.0  3 years           8.99    B1           9 years
2   1165403      550.0  3 years          14.65    C2          10 years
3  91354446     2000.0  5 years          15.59    C5          10 years
4  85636932     1500.0  5 years          12.79    C1           0 years

              purpose  credit_score application_type
0  debt_consolidation         725.0       Individual
1         credit_card         695.0       Individual
2         credit_card         660.0       Individual
3         credit_card         695.0       Individual
4             medical         720.0       Individual
         id  loan_amnt     term  interest_rate grade employment_length  \
0  88194295     1800.0  3 years          14.49    C4               NaN
1   5146039     1200.0  5 years          16.29    C4           2 years
2   3095896     2000.0  5 years          21.98    E4          10 years
3  88625044     1000.0  3 years           8.59    A5           4 years
4   1178189     1500.0  3 years          13.99    C1           4 years

              purpose  credit_score application_type loan_status
0  debt_consolidation         665.0       Individual   FullyPaid
1  debt_consolidation         700.0       Individual  ChargedOff
2    home_improvement         670.0       Individual   FullyPaid
3  debt_consolidation         710.0       Individual   FullyPaid
4  debt_consolidation         680.0       Individual   FullyPaid

In [6]:
# データの行数と列数を表示する
print('test_data:',test_data.shape)
print('train_data:',train_data.shape)

test_data: (26906, 9)
train_data: (242156, 10)

In [12]:
# データ型を表示する
# ファイルのデータ型
print(type(train_data))
print(type(test_data))
grade_var = train_data['grade']
print(type(grade_var))

# 各項目のデータ型
print('test_data')
print(test_data.dtypes)
print('train_data')
print(train_data.dtypes)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
test_data
id                     int64
loan_amnt            float64
term                  object
interest_rate        float64
grade                 object
employment_length     object
purpose               object
credit_score         float64
application_type      object
dtype: object
train_data
id                     int64
loan_amnt            float64
term                  object
interest_rate        float64
grade                 object
employment_length     object
purpose               object
credit_score         float64
application_type      object
loan_status           object
dtype: object

In [23]:
# 各項目の値と出現回数を確認する
#print(train_data['id'].value_counts())
#print(train_data['loan_amnt'].value_counts())
#print(train_data['interest_rate'].value_counts())
#print(train_data['grade'].value_counts())
print(train_data['employment_length'].value_counts())
print(train_data['purpose'].value_counts())
print(train_data['credit_score'].value_counts())
print(train_data['application_type'].value_counts())
print(train_data['term'].value_counts())
print(train_data['loan_status'].value_counts())

10 years    79095
2 years     22098
3 years     18772
0 years     18511
5 years     16995
1 year      15883
4 years     14895
6 years     13127
7 years     10678
8 years      9938
9 years      8979
Name: employment_length, dtype: int64
debt_consolidation    141059
credit_card            48380
home_improvement       16072
other                  15417
major_purchase          5743
small_business          3300
car                     2888
medical                 2830
moving                  1788
house                   1737
vacation                1711
wedding                 1023
renewable_energy         208
Name: purpose, dtype: int64
670.0    19926
665.0    19168
660.0    18833
680.0    18721
675.0    18551
685.0    16908
690.0    16519
695.0    14953
700.0    14051
705.0    12561
710.0    10814
715.0     9520
720.0     8230
725.0     6464
730.0     5549
735.0     4402
740.0     3906
745.0     3157
750.0     2922
755.0     2516
760.0     2048
765.0     1890
770.0     1638
775.0     1490
780.0     1347
785.0     1097
790.0     1078
795.0      856
800.0      741
805.0      655
810.0      451
815.0      377
820.0      271
825.0      227
830.0      150
835.0       84
840.0       52
845.0       33
Name: credit_score, dtype: int64
Individual    236086
Joint App       6070
Name: application_type, dtype: int64
3 years    188699
5 years     53457
Name: term, dtype: int64
FullyPaid     193815
ChargedOff     48341
Name: loan_status, dtype: int64

In [37]:
# 不要な項目(id)を削除する
train_data_var = train_data.drop(columns=['id'])
test_data_var = test_data.drop(columns=['id'])
print(train_data_var.head())
print(test_data_var.head())
print(type(train_data_var))
print(type(test_data_var))

   loan_amnt     term  interest_rate grade employment_length  \
0     1800.0  3 years          14.49    C4               NaN
1     1200.0  5 years          16.29    C4           2 years
2     2000.0  5 years          21.98    E4          10 years
3     1000.0  3 years           8.59    A5           4 years
4     1500.0  3 years          13.99    C1           4 years

              purpose  credit_score application_type loan_status
0  debt_consolidation         665.0       Individual   FullyPaid
1  debt_consolidation         700.0       Individual  ChargedOff
2    home_improvement         670.0       Individual   FullyPaid
3  debt_consolidation         710.0       Individual   FullyPaid
4  debt_consolidation         680.0       Individual   FullyPaid
   loan_amnt     term  interest_rate grade employment_length  \
0     1912.5  3 years          10.16    B1           5 years
1     1800.0  3 years           8.99    B1           9 years
2      550.0  3 years          14.65    C2          10 years
3     2000.0  5 years          15.59    C5          10 years
4     1500.0  5 years          12.79    C1           0 years

              purpose  credit_score application_type
0  debt_consolidation         725.0       Individual
1         credit_card         695.0       Individual
2         credit_card         660.0       Individual
3         credit_card         695.0       Individual
4             medical         720.0       Individual
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [39]:
# 欠損値の確認
print(train_data_var.isnull().sum())

# 欠損値を削除する
print(train_data_var.shape)
train_data_var_drop = train_data_var.dropna()
print(train_data_var_drop.shape)

# 欠損値を'0 years'で補正する
print(train_data_var.shape)
train_data_var_fill = train_data_var.fillna('0 years')
print(train_data_var_fill.shape)

loan_amnt                0
term                     0
interest_rate            0
grade                    0
employment_length    13185
purpose                  0
credit_score             0
application_type         0
loan_status              0
dtype: int64
loan_amnt               0
term                    0
interest_rate           0
grade                   0
employment_length    1440
purpose                 0
credit_score            0
application_type        0
dtype: int64
(242156, 9)
(228971, 9)
(242156, 9)
(242156, 9)

In [40]:
# 欠損値の確認
print(test_data_var.isnull().sum())

# 欠損値を削除する
#print(test_data_var.shape)
#test_data_var_drop = test_data_var.dropna()
#print(test_data_var_drop.shape)

# 欠損値を'0 years'で補正する
print(test_data_var.shape)
test_data_var_fill = test_data_var.fillna('0 years')
print(test_data_var_fill.shape)

loan_amnt               0
term                    0
interest_rate           0
grade                   0
employment_length    1440
purpose                 0
credit_score            0
application_type        0
dtype: int64
(26906, 8)
(26906, 8)

## データの調査

In [ ]:
# 基本統計量を確認する