In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression as LR 
from sklearn.metrics import accuracy_score
import math

In [4]:
df_train = pd.read_csv("./train.tsv",sep="\t")
df_test = pd.read_csv("./test.tsv",sep="\t")
sample = pd.read_csv("sample_submit.csv", header=None)
display(df_train.head())
#print(df_train.shape)
#display(df_train.dtypes)
display(df_test.head())
#print(df_test.shape)
#display(df_test.dtypes)
display(sample.head())

   Unnamed: 0  class  left_weight  left_distance  right_weight  right_distance
0           2      2            2              4             4               3
1           9      0            2              2             1               3
2          11      0            2              4             4               1
3          13      2            3              3             3               5
4          16      0            3              4             5               2

   Unnamed: 0  left_weight  left_distance  right_weight  right_distance
0           0            4              5             4               3
1           1            3              2             1               5
2           3            1              4             5               1
3           4            5              4             4               4
4           5            2              2             4               1

   0  1
0  0  1
1  1  0
2  3  0
3  4  0
4  5  2

In [7]:
df_train["left_point"] = df_train["left_weight"] * df_train["left_distance"]
df_train["right_point"] = df_train["right_weight"] * df_train["right_distance"]
df_test["left_point"] = df_test["left_weight"] * df_test["left_distance"]
df_test["right_point"] = df_test["right_weight"] * df_test["right_distance"]
display(df_train.head())
display(df_test.head())

,Unnamed: 0,class,left_weight,left_distance,right_weight,right_distance,left_point,right_point
0,2,2,2,4,4,3,8,12
1,9,0,2,2,1,3,4,3
2,11,0,2,4,4,1,8,4
3,13,2,3,3,3,5,9,15
4,16,0,3,4,5,2,12,10

,Unnamed: 0,left_weight,left_distance,right_weight,right_distance,left_point,right_point
0,0,4,5,4,3,20,12
1,1,3,2,1,5,6,5
2,3,1,4,5,1,4,5
3,4,5,4,4,4,20,16
4,5,2,2,4,1,4,4

In [8]:
target_col = ["class"]
feature_col = ["left_point","right_point"]
y_train = df_train[target_col]
X_train = df_train[feature_col]
model = LR()
model.fit(X_train,y_train)

LinearRegression()

In [17]:
df_train["pred_class"] = model.predict(X_train)
#display(df_train[df_train["class"] == 1].head())
pred_class = []
for item in df_train["pred_class"]:
    #print(item)
    if item < 0.0:
        item = 0
    elif 0 <= item < 0.5:
        item = math.floor(item)
    elif 0.5 <= item < 1.0:
        item = math.ceil(item)
    elif 1.0 <= item < 1.5:
        item = math.floor(item)
    elif 1.5 <= item < 2.0:
        item = math.ceil(item)
    else:
        item = math.floor(item)
    pred_class.append(item)
print(pred_class)
df_train["pred_class"] = pred_class
display(df_train.head())

[1, 1, 1, 2, 1, 0, 0, 1, 0, 0, 2, 0, 0, 2, 1, 2, 2, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 2, 2, 2, 1, 0, 0, 2, 1, 1, 1, 0, 1, 2, 2, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 2, 0, 1, 0, 1, 2, 1, 1, 0, 2, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 2, 2, 2, 1, 1, 0, 1, 2, 1, 1, 0, 2, 1, 0, 1, 2, 2, 1, 1, 0, 0, 1, 0, 2, 2, 1, 1, 2, 2, 1, 1, 0, 1, 1, 1, 1, 2, 1, 0, 0, 1, 1, 2, 0, 1, 1, 2, 2, 1, 2, 2, 0, 1, 1, 1, 1, 0, 0, 1, 2, 0, 1, 1, 0, 1, 1, 1, 0, 2, 1, 2, 1, 1, 2, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 2, 2, 1, 2, 2, 1, 2, 0, 1, 1, 1, 0, 1, 1, 2, 0, 2, 1, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 3, 2, 0, 0, 1, 0, 2, 1, 2, 0, 1, 0, 1, 0, 2, 0, 0, 1, 1, 1, 1, 1, 2, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 2, 1, 0, 1, 2, 1, 1, 0, 1, 2, 1, 1, 2, 1, 1, 2, 2, 1, 2, 0, 1, 1, 1, 1, 0, 2, 2, 1, 1, 0, 1, 1, 1, 1, 1, 2, 2, 1, 0, 0, 1, 1, 2, 0, 1, 2, 1, 2, 0, 0, 0, 0]

,Unnamed: 0,class,left_weight,left_distance,right_weight,right_distance,left_point,right_point,pred_class
0,2,1,2,4,4,3,8,12,1
1,9,1,2,2,1,3,4,3,1
2,11,1,2,4,4,1,8,4,1
3,13,2,3,3,3,5,9,15,2
4,16,1,3,4,5,2,12,10,1

In [18]:
accuracy = accuracy_score(df_train["class"],df_train["pred_class"])
print(accuracy)

1.0

In [28]:
X_test = df_test[feature_col]
df_test["class"] = model.predict(X_test)
display(df_test.head())
pred_class = []
for item in df_test["class"]:
    #print(item)
    if item < 0.0:
        item = 0
    elif 0 <= item < 0.9:
        item = math.floor(item)
    elif 0.9 <= item < 1.9:
        item = math.ceil(item)
    elif 1.9 <= item < 2.0:
        item = math.ceil(item)
    else:
        item = math.floor(item)
    pred_class.append(item)
print(pred_class)
df_test["class"] = pred_class
display(df_test.head())

,Unnamed: 0,left_weight,left_distance,right_weight,right_distance,left_point,right_point,class
0,0,4,5,4,3,20,12,0.313297
1,1,3,2,1,5,6,5,0.898497
2,3,1,4,5,1,4,5,1.073698
3,4,5,4,4,4,20,16,0.679700
4,5,2,2,4,1,4,4,0.982097

[0, 0, 2, 0, 1, 2, 0, 0, 0, 1, 2, 2, 2, 0, 0, 1, 2, 0, 0, 0, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 0, 2, 0, 0, 2, 0, 0, 0, 2, 2, 0, 2, 0, 2, 0, 2, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 0, 0, 2, 0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 0, 0, 2, 2, 1, 0, 2, 2, 0, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 0, 0, 2, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 2, 1, 2, 2, 0, 2, 0, 0, 0, 2, 0, 1, 0, 0, 0, 2, 0, 0, 0, 1, 1, 0, 0, 2, 2, 0, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 0, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 0, 2, 0, 0, 2, 2, 1, 0, 0, 0, 0, 2, 2, 2, 2, 0, 0, 0, 2, 2, 3, 0, 2, 0, 2, 2, 2, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 0, 0, 1, 0, 2, 0, 0, 2, 0, 2, 0, 2, 2, 2, 0, 0, 2, 2, 0, 2, 1, 2, 2, 0, 2, 0, 2, 0, 0, 0, 2, 3, 2, 2, 0, 2, 0, 0, 0, 0, 0, 2, 2, 2, 0, 2, 2, 0, 0, 2, 2, 0, 2, 1, 0, 2, 2, 0, 2, 0, 1, 2, 0, 0, 2, 0, 2, 2, 2, 0, 2]

,Unnamed: 0,left_weight,left_distance,right_weight,right_distance,left_point,right_point,class
0,0,4,5,4,3,20,12,0
1,1,3,2,1,5,6,5,0
2,3,1,4,5,1,4,5,2
3,4,5,4,4,4,20,16,0
4,5,2,2,4,1,4,4,1

In [29]:
sample[1] = df_test["class"]
display(sample.head())

   0  1
0  0  0
1  1  0
2  3  2
3  4  0
4  5  1

In [30]:
sample.to_csv("submit.csv",index=None,header=None)