In [1]:
import pandas as pd

In [3]:
df_train = pd.read_csv("./train.tsv",sep="\t")
df_test = pd.read_csv("./test.tsv",sep="\t")
display(df_train.head())
print(df_train.shape)
display(df_test.head())
print(df_test.shape)

   Unnamed: 0  class  left_weight  left_distance  right_weight  right_distance
0           2      2            2              4             4               3
1           9      0            2              2             1               3
2          11      0            2              4             4               1
3          13      2            3              3             3               5
4          16      0            3              4             5               2

(312, 6)

   Unnamed: 0  left_weight  left_distance  right_weight  right_distance
0           0            4              5             4               3
1           1            3              2             1               5
2           3            1              4             5               1
3           4            5              4             4               4
4           5            2              2             4               1

(313, 5)