In [7]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [22]:
df_train = pd.read_csv("./train.csv")
df_test = pd.read_csv("./test.csv")
df_sample_submit = pd.read_csv("./sample_submit.csv",header=None)

display(df_train.head())
display(df_test.head())
display(df_sample_submit.head())

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,200,9,125,74,0,0,28.536910,0.444902,45,1
1,3832,4,109,80,0,0,28.047673,0.238243,22,0
2,4927,4,88,78,39,0,52.371341,0.279471,26,0
3,4088,9,125,74,0,0,40.062688,0.203922,45,0
4,3644,5,107,78,44,284,52.935068,0.284959,45,1

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,398,0,126,80,0,0,40.096264,0.822517,21
1,3833,3,88,60,20,0,39.810590,0.204331,22
2,4836,3,114,76,0,0,33.198760,0.521011,21
3,4572,1,146,74,0,0,26.890259,0.504950,38
4,636,1,123,90,26,140,40.270088,0.800513,28

      0  1
0   398  0
1  3833  0
2  4836  0
3  4572  0
4   636  0

In [15]:
print(df_test.shape)
print(df_train.shape)
print(df_test.isnull().sum())
print(df_test.info())

(2000, 9)
(3000, 10)
index                       0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     2000 non-null   int64
 1   Pregnancies               2000 non-null   int64
 2   Glucose                   2000 non-null   int64
 3   BloodPressure             2000 non-null   int64
 4   SkinThickness             2000 non-null   int64
 5   Insulin                   2000 non-null   int64
 6   BMI                       2000 non-null   float64
 7   DiabetesPedigreeFunction  2000 non-null   float64
 8   Age                       2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB
None

In [16]:
target_col = ["Outcome"]
feature_cols = ["Pregnancies","SkinThickness","BMI","Insulin","Age"]

y_train = df_train[target_col]
X_train = df_train[feature_cols]

model = LogisticRegression()
model.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [17]:
df_train["pred_Outcome"] = model.predict(X_train)
display(df_train.head())

,index,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,pred_Outcome
0,200,9,125,74,0,0,28.536910,0.444902,45,1,0
1,3832,4,109,80,0,0,28.047673,0.238243,22,0,0
2,4927,4,88,78,39,0,52.371341,0.279471,26,0,0
3,4088,9,125,74,0,0,40.062688,0.203922,45,0,1
4,3644,5,107,78,44,284,52.935068,0.284959,45,1,1

In [18]:
accuracy = accuracy_score(df_train["Outcome"],df_train["pred_Outcome"])
print(accuracy)

0.7746666666666666

In [23]:
X_test = df_test[feature_cols]
df_sample_submit[1] = model.predict(X_test)
display(df_sample_submit.head())

      0  1
0   398  0
1  3833  0
2  4836  0
3  4572  0
4   636  0

In [24]:
df_sample_submit.to_csv("./result.csv",header=None,index=False)