In [2]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression as LR
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
df_train = pd.read_csv("./train.csv")
df_test = pd.read_csv("./test.csv")
df_sample = pd.read_csv("./sample_submit.csv",header=None)
df_train = df_train.drop(["gameId"],axis="columns")
df_test = df_test.drop(["gameId"],axis="columns")
display(df_train.head())
display(df_test.head())
display(df_sample.head())
print(df_train.info())
print(df_test.info())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
0,0,5,8,6,0,0,14536,17256,0
1,1,10,1,5,0,0,14536,17863,0
2,0,3,10,2,0,0,17409,17256,0
3,1,7,10,8,0,0,19558,18201,0
4,0,4,9,4,0,0,17409,17256,0

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,0,7,6,6,0,0,16961,18201
1,0,6,6,6,2,1,18513,18021
2,1,6,4,3,0,0,13475,17256
3,0,5,4,7,0,0,17409,17256
4,0,10,8,9,0,0,18117,18472

    0  1
0   9  1
1  15  1
2  18  1
3  23  0
4  31  1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       8000 non-null   int64
 1   blueKills            8000 non-null   int64
 2   blueDeaths           8000 non-null   int64
 3   blueAssists          8000 non-null   int64
 4   blueEliteMonsters    8000 non-null   int64
 5   blueDragons          8000 non-null   int64
 6   blueTotalGold        8000 non-null   int64
 7   blueTotalExperience  8000 non-null   int64
 8   blueWins             8000 non-null   int64
dtypes: int64(9)
memory usage: 562.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       2000 non-null   int64
 1   blueKills            2000 non-null   int64
 2   blueDeaths           2000 non-null   int64
 3   blueAssists          2000 non-null   int64
 4   blueEliteMonsters    2000 non-null   int64
 5   blueDragons          2000 non-null   int64
 6   blueTotalGold        2000 non-null   int64
 7   blueTotalExperience  2000 non-null   int64
dtypes: int64(8)
memory usage: 125.1 KB
None

In [24]:
#df_train["kill_death"] = df_train["blueKills"]-df_train["blueDeaths"]
#df_test["kill_death"] = df_test["blueKills"]-df_test["blueDeaths"]
display(df_train.head(5))
display(df_test.head(5))
print(df_train.info())
print(df_test.info())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
0,0,5,8,6,0,0,14536,17256,0
1,1,10,1,5,0,0,14536,17863,0
2,0,3,10,2,0,0,17409,17256,0
3,1,7,10,8,0,0,19558,18201,0
4,0,4,9,4,0,0,17409,17256,0

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,0,7,6,6,0,0,16961,18201
1,0,6,6,6,2,1,18513,18021
2,1,6,4,3,0,0,13475,17256
3,0,5,4,7,0,0,17409,17256
4,0,10,8,9,0,0,18117,18472

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       8000 non-null   int64
 1   blueKills            8000 non-null   int64
 2   blueDeaths           8000 non-null   int64
 3   blueAssists          8000 non-null   int64
 4   blueEliteMonsters    8000 non-null   int64
 5   blueDragons          8000 non-null   int64
 6   blueTotalGold        8000 non-null   int64
 7   blueTotalExperience  8000 non-null   int64
 8   blueWins             8000 non-null   int64
dtypes: int64(9)
memory usage: 562.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       2000 non-null   int64
 1   blueKills            2000 non-null   int64
 2   blueDeaths           2000 non-null   int64
 3   blueAssists          2000 non-null   int64
 4   blueEliteMonsters    2000 non-null   int64
 5   blueDragons          2000 non-null   int64
 6   blueTotalGold        2000 non-null   int64
 7   blueTotalExperience  2000 non-null   int64
dtypes: int64(8)
memory usage: 125.1 KB
None

In [8]:
df_train_win = df_train[df_train["blueWins"]==1]
df_train_lose = df_train[df_train["blueWins"]==0]
display(df_train.describe())
display(df_train_win.describe())
display(df_train_lose.describe())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,8000.000000,8000.000000,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,0.513000,6.029750,5.92350,5.881875,0.538625,0.358125,17154.067750,17983.514000,0.491750,0.106250
std,0.499862,2.623876,2.64892,3.189897,0.629728,0.479479,1820.796171,772.348402,0.499963,3.874608
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,13475.000000,16650.000000,0.000000,-13.000000
25%,0.000000,4.000000,4.00000,3.000000,0.000000,0.000000,16544.000000,17256.000000,0.000000,-2.000000
50%,1.000000,6.000000,6.00000,6.000000,0.000000,0.000000,17409.000000,18021.000000,0.000000,0.000000
75%,1.000000,8.000000,8.00000,8.000000,1.000000,1.000000,18274.000000,18472.000000,1.000000,2.000000
max,1.000000,14.000000,14.00000,17.000000,2.000000,1.000000,20619.000000,20101.000000,1.000000,13.000000

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.0,3934.000000
mean,0.628114,6.930097,5.284698,6.892476,0.713269,0.480935,17229.011947,18241.174377,1.0,1.645399
std,0.483370,2.554853,2.492559,3.191630,0.652903,0.499700,1901.874128,643.779242,0.0,3.579127
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13475.000000,16650.000000,1.0,-11.000000
25%,0.000000,5.000000,4.000000,5.000000,0.000000,0.000000,16544.000000,18021.000000,1.0,0.000000
50%,1.000000,7.000000,5.000000,7.000000,1.000000,0.000000,18274.000000,18201.000000,1.0,2.000000
75%,1.000000,9.000000,7.000000,9.000000,1.000000,1.000000,18513.000000,18491.000000,1.0,4.000000
max,1.000000,14.000000,14.000000,17.000000,2.000000,1.000000,20619.000000,20101.000000,1.0,13.000000

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.0,4066.000000
mean,0.401623,5.158633,6.541564,4.904083,0.369651,0.239302,17081.556567,17734.218396,0.0,-1.382932
std,0.490287,2.385106,2.649397,2.867496,0.556614,0.426710,1735.913010,803.998697,0.0,3.554765
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13475.000000,16650.000000,0.0,-13.000000
25%,0.000000,3.000000,5.000000,3.000000,0.000000,0.000000,16961.000000,17256.000000,0.0,-4.000000
50%,0.000000,5.000000,6.000000,5.000000,0.000000,0.000000,17409.000000,17256.000000,0.0,-1.000000
75%,1.000000,7.000000,9.000000,7.000000,1.000000,0.000000,17409.000000,18201.000000,0.0,1.000000
max,1.000000,13.000000,14.000000,14.000000,2.000000,1.000000,20619.000000,20004.000000,0.0,13.000000

In [54]:
from sklearn.model_selection import KFold
import lightgbm as lgb
import optuna.integration.lightgbm as lgb_op
from sklearn.model_selection import train_test_split

train_data,val_data = train_test_split(df_train,test_size=0.25,random_state=0)

col = 'blueWins'
train_y = train_data[col]
train_x = train_data.drop(col,axis=1)

val_y = val_data[col]
val_x = val_data.drop(col,axis=1)

trains = lgb.Dataset(train_x,train_y)
valids = lgb.Dataset(val_x,val_y)

params = {
  'objective':'binary',
  'metric': 'binary_logloss',
  'force_row_wise' : True,
  'verbose': -1
}

tuner = lgb_op.LightGBMTunerCV(params, trains,num_boost_round=1000,
folds=KFold(n_splits=5, shuffle=True, random_state=5))
tuner.run()

print('Best score:' ,{tuner.best_score})
print('Best params:')
print(tuner.best_params)

[I 2025-01-12 21:25:41,353] A new study created in memory with name: no-name-4e8fa34c-4f02-48f0-85b0-c67559e0eb14
feature_fraction, val_score: inf:   0%|                                                          | 0/7 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.655980:  14%|######4                                      | 1/7 [00:02<00:16,  2.75s/it][I 2025-01-12 21:25:44,108] Trial 0 finished with value: 0.655980273661013 and parameters: {'feature_fraction': 1.0}. Best is trial 0 with value: 0.655980273661013.
feature_fraction, val_score: 0.655980:  14%|######4                                      | 1/7 [00:02<00:16,  2.75s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.607964:  29%|############8                                | 2/7 [00:05<00:13,  2.74s/it][I 2025-01-12 21:25:46,836] Trial 1 finished with value: 0.6079639110044974 and parameters: {'feature_fraction': 0.6}. Best is trial 1 with value: 0.6079639110044974.
feature_fraction, val_score: 0.607964:  29%|############8                                | 2/7 [00:05<00:13,  2.74s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.586533:  43%|###################2                         | 3/7 [00:08<00:10,  2.65s/it][I 2025-01-12 21:25:49,385] Trial 2 finished with value: 0.5865329971693509 and parameters: {'feature_fraction': 0.5}. Best is trial 2 with value: 0.5865329971693509.
feature_fraction, val_score: 0.586533:  43%|###################2                         | 3/7 [00:08<00:10,  2.65s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.586533:  57%|#########################7                   | 4/7 [00:10<00:07,  2.50s/it][I 2025-01-12 21:25:51,648] Trial 3 finished with value: 0.6256893881319745 and parameters: {'feature_fraction': 0.7}. Best is trial 2 with value: 0.5865329971693509.
feature_fraction, val_score: 0.586533:  57%|#########################7                   | 4/7 [00:10<00:07,  2.50s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.549613:  71%|################################1            | 5/7 [00:12<00:04,  2.50s/it][I 2025-01-12 21:25:54,142] Trial 4 finished with value: 0.5496128437264638 and parameters: {'feature_fraction': 0.4}. Best is trial 4 with value: 0.5496128437264638.
feature_fraction, val_score: 0.549613:  71%|################################1            | 5/7 [00:12<00:04,  2.50s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.549613:  86%|######################################5      | 6/7 [00:15<00:02,  2.41s/it][I 2025-01-12 21:25:56,391] Trial 5 finished with value: 0.6417468420560091 and parameters: {'feature_fraction': 0.8999999999999999}. Best is trial 4 with value: 0.5496128437264638.
feature_fraction, val_score: 0.549613:  86%|######################################5      | 6/7 [00:15<00:02,  2.41s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.549613: 100%|#############################################| 7/7 [00:17<00:00,  2.37s/it][I 2025-01-12 21:25:58,675] Trial 6 finished with value: 0.6256893881319745 and parameters: {'feature_fraction': 0.8}. Best is trial 4 with value: 0.5496128437264638.
feature_fraction, val_score: 0.549613: 100%|#############################################| 7/7 [00:17<00:00,  2.47s/it]
num_leaves, val_score: 0.549613:   0%|                                                          | 0/20 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.549613:   5%|##5                                               | 1/20 [00:02<00:54,  2.89s/it][I 2025-01-12 21:26:01,572] Trial 7 finished with value: 0.5673102949961565 and parameters: {'num_leaves': 37}. Best is trial 7 with value: 0.5673102949961565.
num_leaves, val_score: 0.549613:   5%|##5                                               | 1/20 [00:02<00:54,  2.89s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.549613:  10%|#####                                             | 2/20 [00:08<01:19,  4.39s/it][I 2025-01-12 21:26:07,018] Trial 8 finished with value: 0.6496473376338313 and parameters: {'num_leaves': 86}. Best is trial 7 with value: 0.5673102949961565.
num_leaves, val_score: 0.549613:  10%|#####                                             | 2/20 [00:08<01:19,  4.39s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.549613:  15%|#######5                                          | 3/20 [00:13<01:22,  4.83s/it][I 2025-01-12 21:26:12,365] Trial 9 finished with value: 0.6461145087665672 and parameters: {'num_leaves': 81}. Best is trial 7 with value: 0.5673102949961565.
num_leaves, val_score: 0.549613:  15%|#######5                                          | 3/20 [00:13<01:22,  4.83s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.549613:  20%|##########                                        | 4/20 [00:20<01:32,  5.80s/it][I 2025-01-12 21:26:19,665] Trial 10 finished with value: 0.6697463075461345 and parameters: {'num_leaves': 236}. Best is trial 7 with value: 0.5673102949961565.
num_leaves, val_score: 0.549613:  20%|##########                                        | 4/20 [00:20<01:32,  5.80s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  25%|############5                                     | 5/20 [00:21<01:00,  4.00s/it][I 2025-01-12 21:26:20,474] Trial 11 finished with value: 0.45154297790534803 and parameters: {'num_leaves': 4}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  25%|############5                                     | 5/20 [00:21<01:00,  4.00s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  30%|###############                                   | 6/20 [00:22<00:42,  3.04s/it][I 2025-01-12 21:26:21,632] Trial 12 finished with value: 0.47342271240124684 and parameters: {'num_leaves': 9}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  30%|###############                                   | 6/20 [00:22<00:42,  3.04s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  35%|#################5                                | 7/20 [00:24<00:33,  2.57s/it][I 2025-01-12 21:26:23,237] Trial 13 finished with value: 0.4968213931643783 and parameters: {'num_leaves': 15}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  35%|#################5                                | 7/20 [00:24<00:33,  2.57s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  40%|####################                              | 8/20 [00:25<00:25,  2.16s/it][I 2025-01-12 21:26:24,513] Trial 14 finished with value: 0.47592030725531453 and parameters: {'num_leaves': 10}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  40%|####################                              | 8/20 [00:25<00:25,  2.16s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  45%|######################5                           | 9/20 [00:32<00:39,  3.60s/it][I 2025-01-12 21:26:31,288] Trial 15 finished with value: 0.6697463075461345 and parameters: {'num_leaves': 176}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  45%|######################5                           | 9/20 [00:32<00:39,  3.60s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  50%|########################5                        | 10/20 [00:37<00:41,  4.12s/it][I 2025-01-12 21:26:36,582] Trial 16 finished with value: 0.6413545961437432 and parameters: {'num_leaves': 79}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  50%|########################5                        | 10/20 [00:37<00:41,  4.12s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  55%|##########################9                      | 11/20 [00:44<00:44,  4.98s/it][I 2025-01-12 21:26:43,489] Trial 17 finished with value: 0.6725902397268106 and parameters: {'num_leaves': 145}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  55%|##########################9                      | 11/20 [00:44<00:44,  4.98s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  60%|#############################4                   | 12/20 [00:48<00:37,  4.66s/it][I 2025-01-12 21:26:47,433] Trial 18 finished with value: 0.5990897227761494 and parameters: {'num_leaves': 52}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  60%|#############################4                   | 12/20 [00:48<00:37,  4.66s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  65%|###############################8                 | 13/20 [00:55<00:36,  5.17s/it][I 2025-01-12 21:26:53,770] Trial 19 finished with value: 0.6654822960098276 and parameters: {'num_leaves': 128}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  65%|###############################8                 | 13/20 [00:55<00:36,  5.17s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  70%|##################################3              | 14/20 [00:56<00:24,  4.06s/it][I 2025-01-12 21:26:55,277] Trial 20 finished with value: 0.4870041940647031 and parameters: {'num_leaves': 13}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  70%|##################################3              | 14/20 [00:56<00:24,  4.06s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  75%|####################################7            | 15/20 [00:57<00:16,  3.21s/it][I 2025-01-12 21:26:56,519] Trial 21 finished with value: 0.47342271240124684 and parameters: {'num_leaves': 9}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  75%|####################################7            | 15/20 [00:57<00:16,  3.21s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  80%|#######################################2         | 16/20 [00:58<00:09,  2.45s/it][I 2025-01-12 21:26:57,183] Trial 22 finished with value: 0.46968452503702063 and parameters: {'num_leaves': 2}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  80%|#######################################2         | 16/20 [00:58<00:09,  2.45s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  85%|#########################################6       | 17/20 [01:02<00:09,  3.03s/it][I 2025-01-12 21:27:01,559] Trial 23 finished with value: 0.6081162007165748 and parameters: {'num_leaves': 57}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  85%|#########################################6       | 17/20 [01:02<00:09,  3.03s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  90%|############################################1    | 18/20 [01:06<00:06,  3.12s/it][I 2025-01-12 21:27:04,897] Trial 24 finished with value: 0.573547945955586 and parameters: {'num_leaves': 40}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  90%|############################################1    | 18/20 [01:06<00:06,  3.12s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543:  95%|##############################################5  | 19/20 [01:09<00:03,  3.15s/it][I 2025-01-12 21:27:08,113] Trial 25 finished with value: 0.5678198838040233 and parameters: {'num_leaves': 38}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543:  95%|##############################################5  | 19/20 [01:09<00:03,  3.15s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.451543: 100%|#################################################| 20/20 [01:10<00:00,  2.41s/it][I 2025-01-12 21:27:08,794] Trial 26 finished with value: 0.46968452503702063 and parameters: {'num_leaves': 2}. Best is trial 11 with value: 0.45154297790534803.
num_leaves, val_score: 0.451543: 100%|#################################################| 20/20 [01:10<00:00,  3.51s/it]
bagging, val_score: 0.451543:   0%|                                                             | 0/10 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.450194:  10%|#####3                                               | 1/10 [00:01<00:09,  1.04s/it][I 2025-01-12 21:27:09,841] Trial 27 finished with value: 0.4501941295725881 and parameters: {'bagging_fraction': 0.8303426510440024, 'bagging_freq': 4}. Best is trial 27 with value: 0.4501941295725881.
bagging, val_score: 0.450194:  10%|#####3                                               | 1/10 [00:01<00:09,  1.04s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.449594:  20%|##########6                                          | 2/10 [00:02<00:08,  1.04s/it][I 2025-01-12 21:27:10,879] Trial 28 finished with value: 0.4495935752169623 and parameters: {'bagging_fraction': 0.8581313893285254, 'bagging_freq': 4}. Best is trial 28 with value: 0.4495935752169623.
bagging, val_score: 0.449594:  20%|##########6                                          | 2/10 [00:02<00:08,  1.04s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.449594:  30%|###############9                                     | 3/10 [00:03<00:07,  1.10s/it][I 2025-01-12 21:27:12,055] Trial 29 finished with value: 0.45026561338422255 and parameters: {'bagging_fraction': 0.8430783435443934, 'bagging_freq': 4}. Best is trial 28 with value: 0.4495935752169623.
bagging, val_score: 0.449594:  30%|###############9                                     | 3/10 [00:03<00:07,  1.10s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.449594:  40%|#####################2                               | 4/10 [00:04<00:06,  1.09s/it][I 2025-01-12 21:27:13,116] Trial 30 finished with value: 0.4503106631319608 and parameters: {'bagging_fraction': 0.8523097525910446, 'bagging_freq': 4}. Best is trial 28 with value: 0.4495935752169623.
bagging, val_score: 0.449594:  40%|#####################2                               | 4/10 [00:04<00:06,  1.09s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.449594:  50%|##########################5                          | 5/10 [00:05<00:05,  1.10s/it][I 2025-01-12 21:27:14,250] Trial 31 finished with value: 0.45056727553231013 and parameters: {'bagging_fraction': 0.8557162764026812, 'bagging_freq': 4}. Best is trial 28 with value: 0.4495935752169623.
bagging, val_score: 0.449594:  50%|##########################5                          | 5/10 [00:05<00:05,  1.10s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.449594:  60%|###############################8                     | 6/10 [00:06<00:04,  1.08s/it][I 2025-01-12 21:27:15,286] Trial 32 finished with value: 0.45032557156617586 and parameters: {'bagging_fraction': 0.851014860001267, 'bagging_freq': 4}. Best is trial 28 with value: 0.4495935752169623.
bagging, val_score: 0.449594:  60%|###############################8                     | 6/10 [00:06<00:04,  1.08s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.449594:  70%|#####################################                | 7/10 [00:07<00:03,  1.07s/it][I 2025-01-12 21:27:16,340] Trial 33 finished with value: 0.4498551678774504 and parameters: {'bagging_fraction': 0.845548400949901, 'bagging_freq': 4}. Best is trial 28 with value: 0.4495935752169623.
bagging, val_score: 0.449594:  70%|#####################################                | 7/10 [00:07<00:03,  1.07s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(

Best score: {0.4477500676753582}
Best params:
{'objective': 'binary', 'metric': 'binary_logloss', 'force_row_wise': True, 'verbose': -1, 'feature_pre_filter': False, 'lambda_l1': 0.02994315831756978, 'lambda_l2': 8.1180646025881, 'num_leaves': 4, 'feature_fraction': 0.4, 'bagging_fraction': 0.8581313893285254, 'bagging_freq': 4, 'min_child_samples': 50}

In [56]:
model = lgb.train(tuner.best_params,
                  trains, valid_sets=[valids],
                  num_boost_round=5000,
                  callbacks=[lgb.early_stopping(stopping_rounds=100, verbose=True)]
                  )

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[582]	valid_0's binary_logloss: 0.429258

In [58]:
from sklearn import metrics

estimated_val_y = pd.DataFrame(model.predict(val_x))
estimated_val_y.index = val_x.index
estimated_val_y.columns = ['estimated_val_y']

estimated_val_y['estimated_val_y'] = (estimated_val_y['estimated_val_y'] > 0.5).astype(int)

metrics.accuracy_score(val_y, estimated_val_y)

0.7985

In [60]:
df_test["blueWins"] = pd.DataFrame(model.predict(df_test))

df_test["blueWins"] = (df_test["blueWins"] > 0.5).astype(int)
print(df_test.head())

   blueFirstBlood  blueKills  blueDeaths  blueAssists  blueEliteMonsters  \
0               0          7           6            6                  0
1               0          6           6            6                  2
2               1          6           4            3                  0
3               0          5           4            7                  0
4               0         10           8            9                  0

   blueDragons  blueTotalGold  blueTotalExperience  blueWins
0            0          16961                18201         1
1            1          18513                18021         1
2            0          13475                17256         1
3            0          17409                17256         0
4            0          18117                18472         1

In [62]:
df_sample[1] = df_test["blueWins"]
df_sample.to_csv("./sample_submit.csv",header=None,index=False)