In [3]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression as LR
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
import lightgbm as lgb
import optuna.integration.lightgbm as lgb_op
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [5]:
df_train = pd.read_csv("./train.csv")
#df_test = pd.read_csv("./test.csv")
#df_sample = pd.read_csv("./sample_submit.csv",header=None)
df_train = df_train.drop(["gameId"],axis="columns")
#df_test = df_test.drop(["gameId"],axis="columns")
display(df_train.head())
#display(df_test.head())
#display(df_sample.head())
print(df_train.info())
#print(df_test.info())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
0,0,5,8,6,0,0,14536,17256,0
1,1,10,1,5,0,0,14536,17863,0
2,0,3,10,2,0,0,17409,17256,0
3,1,7,10,8,0,0,19558,18201,0
4,0,4,9,4,0,0,17409,17256,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       8000 non-null   int64
 1   blueKills            8000 non-null   int64
 2   blueDeaths           8000 non-null   int64
 3   blueAssists          8000 non-null   int64
 4   blueEliteMonsters    8000 non-null   int64
 5   blueDragons          8000 non-null   int64
 6   blueTotalGold        8000 non-null   int64
 7   blueTotalExperience  8000 non-null   int64
 8   blueWins             8000 non-null   int64
dtypes: int64(9)
memory usage: 562.6 KB
None

In [8]:
len(df_train)

8000

In [10]:
print(df_train.mean())

blueFirstBlood             0.513000
blueKills                  6.029750
blueDeaths                 5.923500
blueAssists                5.881875
blueEliteMonsters          0.538625
blueDragons                0.358125
blueTotalGold          17154.067750
blueTotalExperience    17983.514000
blueWins                   0.491750
dtype: float64

In [14]:
print(df_train.median())

blueFirstBlood             1.0
blueKills                  6.0
blueDeaths                 6.0
blueAssists                6.0
blueEliteMonsters          0.0
blueDragons                0.0
blueTotalGold          17409.0
blueTotalExperience    18021.0
blueWins                   0.0
dtype: float64