In [34]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression as LR
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [36]:
df_train = pd.read_csv("./train.csv")
df_test = pd.read_csv("./test.csv")
df_sample = pd.read_csv("./sample_submit.csv",header=None)
df_train = df_train.drop(["gameId"],axis="columns")
df_test = df_test.drop(["gameId"],axis="columns")
display(df_train.head())
display(df_test.head())
display(df_sample.head())
print(df_train.info())
print(df_test.info())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
0,0,5,8,6,0,0,14536,17256,0
1,1,10,1,5,0,0,14536,17863,0
2,0,3,10,2,0,0,17409,17256,0
3,1,7,10,8,0,0,19558,18201,0
4,0,4,9,4,0,0,17409,17256,0

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,0,7,6,6,0,0,16961,18201
1,0,6,6,6,2,1,18513,18021
2,1,6,4,3,0,0,13475,17256
3,0,5,4,7,0,0,17409,17256
4,0,10,8,9,0,0,18117,18472

    0  1
0   9  1
1  15  1
2  18  1
3  23  0
4  31  1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       8000 non-null   int64
 1   blueKills            8000 non-null   int64
 2   blueDeaths           8000 non-null   int64
 3   blueAssists          8000 non-null   int64
 4   blueEliteMonsters    8000 non-null   int64
 5   blueDragons          8000 non-null   int64
 6   blueTotalGold        8000 non-null   int64
 7   blueTotalExperience  8000 non-null   int64
 8   blueWins             8000 non-null   int64
dtypes: int64(9)
memory usage: 562.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       2000 non-null   int64
 1   blueKills            2000 non-null   int64
 2   blueDeaths           2000 non-null   int64
 3   blueAssists          2000 non-null   int64
 4   blueEliteMonsters    2000 non-null   int64
 5   blueDragons          2000 non-null   int64
 6   blueTotalGold        2000 non-null   int64
 7   blueTotalExperience  2000 non-null   int64
dtypes: int64(8)
memory usage: 125.1 KB
None

In [6]:
#df_train["kill_death"] = df_train["blueKills"]-df_train["blueDeaths"]
#df_test["kill_death"] = df_test["blueKills"]-df_test["blueDeaths"]
display(df_train.head(5))
display(df_test.head(5))
print(df_train.info())
print(df_test.info())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
0,0,5,8,6,0,0,14536,17256,0
1,1,10,1,5,0,0,14536,17863,0
2,0,3,10,2,0,0,17409,17256,0
3,1,7,10,8,0,0,19558,18201,0
4,0,4,9,4,0,0,17409,17256,0

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,0,7,6,6,0,0,16961,18201
1,0,6,6,6,2,1,18513,18021
2,1,6,4,3,0,0,13475,17256
3,0,5,4,7,0,0,17409,17256
4,0,10,8,9,0,0,18117,18472

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       8000 non-null   int64
 1   blueKills            8000 non-null   int64
 2   blueDeaths           8000 non-null   int64
 3   blueAssists          8000 non-null   int64
 4   blueEliteMonsters    8000 non-null   int64
 5   blueDragons          8000 non-null   int64
 6   blueTotalGold        8000 non-null   int64
 7   blueTotalExperience  8000 non-null   int64
 8   blueWins             8000 non-null   int64
dtypes: int64(9)
memory usage: 562.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       2000 non-null   int64
 1   blueKills            2000 non-null   int64
 2   blueDeaths           2000 non-null   int64
 3   blueAssists          2000 non-null   int64
 4   blueEliteMonsters    2000 non-null   int64
 5   blueDragons          2000 non-null   int64
 6   blueTotalGold        2000 non-null   int64
 7   blueTotalExperience  2000 non-null   int64
dtypes: int64(8)
memory usage: 125.1 KB
None

In [8]:
df_train_win = df_train[df_train["blueWins"]==1]
df_train_lose = df_train[df_train["blueWins"]==0]
display(df_train.describe())
display(df_train_win.describe())
display(df_train_lose.describe())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,8000.000000,8000.000000,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,0.513000,6.029750,5.92350,5.881875,0.538625,0.358125,17154.067750,17983.514000,0.491750,0.106250
std,0.499862,2.623876,2.64892,3.189897,0.629728,0.479479,1820.796171,772.348402,0.499963,3.874608
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,13475.000000,16650.000000,0.000000,-13.000000
25%,0.000000,4.000000,4.00000,3.000000,0.000000,0.000000,16544.000000,17256.000000,0.000000,-2.000000
50%,1.000000,6.000000,6.00000,6.000000,0.000000,0.000000,17409.000000,18021.000000,0.000000,0.000000
75%,1.000000,8.000000,8.00000,8.000000,1.000000,1.000000,18274.000000,18472.000000,1.000000,2.000000
max,1.000000,14.000000,14.00000,17.000000,2.000000,1.000000,20619.000000,20101.000000,1.000000,13.000000

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.0,3934.000000
mean,0.628114,6.930097,5.284698,6.892476,0.713269,0.480935,17229.011947,18241.174377,1.0,1.645399
std,0.483370,2.554853,2.492559,3.191630,0.652903,0.499700,1901.874128,643.779242,0.0,3.579127
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13475.000000,16650.000000,1.0,-11.000000
25%,0.000000,5.000000,4.000000,5.000000,0.000000,0.000000,16544.000000,18021.000000,1.0,0.000000
50%,1.000000,7.000000,5.000000,7.000000,1.000000,0.000000,18274.000000,18201.000000,1.0,2.000000
75%,1.000000,9.000000,7.000000,9.000000,1.000000,1.000000,18513.000000,18491.000000,1.0,4.000000
max,1.000000,14.000000,14.000000,17.000000,2.000000,1.000000,20619.000000,20101.000000,1.0,13.000000

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.0,4066.000000
mean,0.401623,5.158633,6.541564,4.904083,0.369651,0.239302,17081.556567,17734.218396,0.0,-1.382932
std,0.490287,2.385106,2.649397,2.867496,0.556614,0.426710,1735.913010,803.998697,0.0,3.554765
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13475.000000,16650.000000,0.0,-13.000000
25%,0.000000,3.000000,5.000000,3.000000,0.000000,0.000000,16961.000000,17256.000000,0.0,-4.000000
50%,0.000000,5.000000,6.000000,5.000000,0.000000,0.000000,17409.000000,17256.000000,0.0,-1.000000
75%,1.000000,7.000000,9.000000,7.000000,1.000000,0.000000,17409.000000,18201.000000,0.0,1.000000
max,1.000000,13.000000,14.000000,14.000000,2.000000,1.000000,20619.000000,20004.000000,0.0,13.000000

In [38]:
from sklearn.model_selection import KFold
import lightgbm as lgb
import optuna.integration.lightgbm as lgb_op
from sklearn.model_selection import train_test_split

train_data,val_data = train_test_split(df_train,test_size=0.3,random_state=0)

col = 'blueWins'
train_y = train_data[col]
train_x = train_data.drop(col,axis=1)

val_y = val_data[col]
val_x = val_data.drop(col,axis=1)

trains = lgb.Dataset(train_x,train_y)
valids = lgb.Dataset(val_x,val_y)

params = {
  'objective':'binary',
  'metric': 'binary_logloss',
  'force_row_wise' : True,
  'verbose': -1
}

tuner = lgb_op.LightGBMTunerCV(params, trains,num_boost_round=1000,
folds=KFold(n_splits=5, shuffle=True, random_state=5))
tuner.run()

print('Best score:' ,{tuner.best_score})
print('Best params:')
print(tuner.best_params)

[I 2025-01-26 22:29:03,905] A new study created in memory with name: no-name-cdde9ceb-2270-4765-8d49-b14ffa30dc5f
feature_fraction, val_score: inf:   0%|                                                          | 0/7 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.676851:  14%|######4                                      | 1/7 [00:02<00:15,  2.60s/it][I 2025-01-26 22:29:06,510] Trial 0 finished with value: 0.676850939531074 and parameters: {'feature_fraction': 1.0}. Best is trial 0 with value: 0.676850939531074.
feature_fraction, val_score: 0.676851:  14%|######4                                      | 1/7 [00:02<00:15,  2.60s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.624279:  29%|############8                                | 2/7 [00:05<00:12,  2.56s/it][I 2025-01-26 22:29:09,041] Trial 1 finished with value: 0.6242785787924686 and parameters: {'feature_fraction': 0.6}. Best is trial 1 with value: 0.6242785787924686.
feature_fraction, val_score: 0.624279:  29%|############8                                | 2/7 [00:05<00:12,  2.56s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.597538:  43%|###################2                         | 3/7 [00:07<00:10,  2.63s/it][I 2025-01-26 22:29:11,745] Trial 2 finished with value: 0.5975375593637994 and parameters: {'feature_fraction': 0.5}. Best is trial 2 with value: 0.5975375593637994.
feature_fraction, val_score: 0.597538:  43%|###################2                         | 3/7 [00:07<00:10,  2.63s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.597538:  57%|#########################7                   | 4/7 [00:10<00:07,  2.58s/it][I 2025-01-26 22:29:14,251] Trial 3 finished with value: 0.6470366868952913 and parameters: {'feature_fraction': 0.7}. Best is trial 2 with value: 0.5975375593637994.
feature_fraction, val_score: 0.597538:  57%|#########################7                   | 4/7 [00:10<00:07,  2.58s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.563152:  71%|################################1            | 5/7 [00:13<00:05,  2.71s/it][I 2025-01-26 22:29:17,205] Trial 4 finished with value: 0.5631523918182657 and parameters: {'feature_fraction': 0.4}. Best is trial 4 with value: 0.5631523918182657.
feature_fraction, val_score: 0.563152:  71%|################################1            | 5/7 [00:13<00:05,  2.71s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.563152:  86%|######################################5      | 6/7 [00:15<00:02,  2.64s/it][I 2025-01-26 22:29:19,706] Trial 5 finished with value: 0.6671403395679879 and parameters: {'feature_fraction': 0.8999999999999999}. Best is trial 4 with value: 0.5631523918182657.
feature_fraction, val_score: 0.563152:  86%|######################################5      | 6/7 [00:15<00:02,  2.64s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.563152: 100%|#############################################| 7/7 [00:18<00:00,  2.59s/it][I 2025-01-26 22:29:22,176] Trial 6 finished with value: 0.6470366868952913 and parameters: {'feature_fraction': 0.8}. Best is trial 4 with value: 0.5631523918182657.
feature_fraction, val_score: 0.563152: 100%|#############################################| 7/7 [00:18<00:00,  2.61s/it]
num_leaves, val_score: 0.563152:   0%|                                                          | 0/20 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.563152:   5%|##5                                               | 1/20 [00:06<02:10,  6.87s/it][I 2025-01-26 22:29:29,042] Trial 7 finished with value: 0.6901835155021597 and parameters: {'num_leaves': 244}. Best is trial 7 with value: 0.6901835155021597.
num_leaves, val_score: 0.563152:   5%|##5                                               | 1/20 [00:06<02:10,  6.87s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.563152:  10%|#####                                             | 2/20 [00:13<02:04,  6.90s/it][I 2025-01-26 22:29:35,972] Trial 8 finished with value: 0.6901835155021597 and parameters: {'num_leaves': 183}. Best is trial 7 with value: 0.6901835155021597.
num_leaves, val_score: 0.563152:  10%|#####                                             | 2/20 [00:13<02:04,  6.90s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.563152:  15%|#######5                                          | 3/20 [00:20<01:57,  6.89s/it][I 2025-01-26 22:29:42,850] Trial 9 finished with value: 0.6901835155021597 and parameters: {'num_leaves': 256}. Best is trial 7 with value: 0.6901835155021597.
num_leaves, val_score: 0.563152:  15%|#######5                                          | 3/20 [00:20<01:57,  6.89s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  20%|##########                                        | 4/20 [00:21<01:13,  4.57s/it][I 2025-01-26 22:29:43,866] Trial 10 finished with value: 0.4687169438177728 and parameters: {'num_leaves': 6}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  20%|##########                                        | 4/20 [00:21<01:13,  4.57s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  25%|############5                                     | 5/20 [00:22<00:50,  3.35s/it][I 2025-01-26 22:29:45,074] Trial 11 finished with value: 0.48477339594510005 and parameters: {'num_leaves': 9}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  25%|############5                                     | 5/20 [00:22<00:50,  3.35s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  30%|###############                                   | 6/20 [00:24<00:36,  2.63s/it][I 2025-01-26 22:29:46,294] Trial 12 finished with value: 0.48477339594510005 and parameters: {'num_leaves': 9}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  30%|###############                                   | 6/20 [00:24<00:36,  2.63s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  35%|#################5                                | 7/20 [00:26<00:34,  2.69s/it][I 2025-01-26 22:29:49,108] Trial 13 finished with value: 0.5653111200285965 and parameters: {'num_leaves': 32}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  35%|#################5                                | 7/20 [00:26<00:34,  2.69s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  40%|####################                              | 8/20 [00:32<00:41,  3.47s/it][I 2025-01-26 22:29:54,239] Trial 14 finished with value: 0.6510317689832334 and parameters: {'num_leaves': 70}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  40%|####################                              | 8/20 [00:32<00:41,  3.47s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  45%|######################5                           | 9/20 [00:37<00:46,  4.19s/it][I 2025-01-26 22:30:00,024] Trial 15 finished with value: 0.6704946186143642 and parameters: {'num_leaves': 86}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  45%|######################5                           | 9/20 [00:37<00:46,  4.19s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  50%|########################5                        | 10/20 [00:39<00:32,  3.26s/it][I 2025-01-26 22:30:01,182] Trial 16 finished with value: 0.47634192918167495 and parameters: {'num_leaves': 8}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  50%|########################5                        | 10/20 [00:39<00:32,  3.26s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  55%|##########################9                      | 11/20 [00:45<00:37,  4.19s/it][I 2025-01-26 22:30:07,486] Trial 17 finished with value: 0.6884158195409611 and parameters: {'num_leaves': 121}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  55%|##########################9                      | 11/20 [00:45<00:37,  4.19s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  60%|#############################4                   | 12/20 [00:49<00:33,  4.20s/it][I 2025-01-26 22:30:11,722] Trial 18 finished with value: 0.6242516631988667 and parameters: {'num_leaves': 55}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  60%|#############################4                   | 12/20 [00:49<00:33,  4.20s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  65%|###############################8                 | 13/20 [00:56<00:34,  4.91s/it][I 2025-01-26 22:30:18,244] Trial 19 finished with value: 0.6853317186526319 and parameters: {'num_leaves': 115}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  65%|###############################8                 | 13/20 [00:56<00:34,  4.91s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.468717:  70%|##################################3              | 14/20 [01:02<00:32,  5.40s/it][I 2025-01-26 22:30:24,783] Trial 20 finished with value: 0.6901835155021597 and parameters: {'num_leaves': 165}. Best is trial 10 with value: 0.4687169438177728.
num_leaves, val_score: 0.468717:  70%|##################################3              | 14/20 [01:02<00:32,  5.40s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.458375:  75%|####################################7            | 15/20 [01:03<00:20,  4.04s/it][I 2025-01-26 22:30:25,658] Trial 21 finished with value: 0.45837521147068283 and parameters: {'num_leaves': 4}. Best is trial 21 with value: 0.45837521147068283.
num_leaves, val_score: 0.458375:  75%|####################################7            | 15/20 [01:03<00:20,  4.04s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.458375:  80%|#######################################2         | 16/20 [01:04<00:12,  3.02s/it][I 2025-01-26 22:30:26,330] Trial 22 finished with value: 0.4726270495794447 and parameters: {'num_leaves': 2}. Best is trial 21 with value: 0.45837521147068283.
num_leaves, val_score: 0.458375:  80%|#######################################2         | 16/20 [01:04<00:12,  3.02s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.458375:  85%|#########################################6       | 17/20 [01:08<00:09,  3.31s/it][I 2025-01-26 22:30:30,316] Trial 23 finished with value: 0.6070931542924564 and parameters: {'num_leaves': 48}. Best is trial 21 with value: 0.45837521147068283.
num_leaves, val_score: 0.458375:  85%|#########################################6       | 17/20 [01:08<00:09,  3.31s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.458375:  90%|############################################1    | 18/20 [01:11<00:06,  3.21s/it][I 2025-01-26 22:30:33,271] Trial 24 finished with value: 0.5727559155237201 and parameters: {'num_leaves': 34}. Best is trial 21 with value: 0.45837521147068283.
num_leaves, val_score: 0.458375:  90%|############################################1    | 18/20 [01:11<00:06,  3.21s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.458375:  95%|##############################################5  | 19/20 [01:11<00:02,  2.44s/it][I 2025-01-26 22:30:33,927] Trial 25 finished with value: 0.4726270495794447 and parameters: {'num_leaves': 2}. Best is trial 21 with value: 0.45837521147068283.
num_leaves, val_score: 0.458375:  95%|##############################################5  | 19/20 [01:11<00:02,  2.44s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.458375: 100%|#################################################| 20/20 [01:17<00:00,  3.53s/it][I 2025-01-26 22:30:39,982] Trial 26 finished with value: 0.6747355744847228 and parameters: {'num_leaves': 88}. Best is trial 21 with value: 0.45837521147068283.
num_leaves, val_score: 0.458375: 100%|#################################################| 20/20 [01:17<00:00,  3.89s/it]
bagging, val_score: 0.458375:   0%|                                                             | 0/10 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.458375:  10%|#####3                                               | 1/10 [00:01<00:10,  1.16s/it][I 2025-01-26 22:30:41,155] Trial 27 finished with value: 0.45954987528383545 and parameters: {'bagging_fraction': 0.9717722419195012, 'bagging_freq': 3}. Best is trial 27 with value: 0.45954987528383545.
bagging, val_score: 0.458375:  10%|#####3                                               | 1/10 [00:01<00:10,  1.16s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.458375:  20%|##########6                                          | 2/10 [00:02<00:09,  1.15s/it][I 2025-01-26 22:30:42,280] Trial 28 finished with value: 0.4586820300592507 and parameters: {'bagging_fraction': 0.9941850512818766, 'bagging_freq': 3}. Best is trial 28 with value: 0.4586820300592507.
bagging, val_score: 0.458375:  20%|##########6                                          | 2/10 [00:02<00:09,  1.15s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.458375:  30%|###############9                                     | 3/10 [00:03<00:07,  1.13s/it][I 2025-01-26 22:30:43,389] Trial 29 finished with value: 0.45860184150598604 and parameters: {'bagging_fraction': 0.9980861587509292, 'bagging_freq': 3}. Best is trial 29 with value: 0.45860184150598604.
bagging, val_score: 0.458375:  30%|###############9                                     | 3/10 [00:03<00:07,  1.13s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.458375:  40%|#####################2                               | 4/10 [00:04<00:06,  1.14s/it][I 2025-01-26 22:30:44,536] Trial 30 finished with value: 0.45906713456791604 and parameters: {'bagging_fraction': 0.9959776302252824, 'bagging_freq': 3}. Best is trial 29 with value: 0.45860184150598604.
bagging, val_score: 0.458375:  40%|#####################2                               | 4/10 [00:04<00:06,  1.14s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.458375:  50%|##########################5                          | 5/10 [00:05<00:05,  1.13s/it][I 2025-01-26 22:30:45,645] Trial 31 finished with value: 0.45908912760030596 and parameters: {'bagging_fraction': 0.994221663413493, 'bagging_freq': 3}. Best is trial 29 with value: 0.45860184150598604.
bagging, val_score: 0.458375:  50%|##########################5                          | 5/10 [00:05<00:05,  1.13s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.458375:  60%|###############################8                     | 6/10 [00:06<00:04,  1.13s/it][I 2025-01-26 22:30:46,787] Trial 32 finished with value: 0.4584006182599524 and parameters: {'bagging_fraction': 0.99668524185123, 'bagging_freq': 3}. Best is trial 32 with value: 0.4584006182599524.
bagging, val_score: 0.458375:  60%|###############################8                     | 6/10 [00:06<00:04,  1.13s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.456557:  70%|#####################################                | 7/10 [00:07<00:03,  1.11s/it][I 2025-01-26 22:30:47,849] Trial 33 finished with value: 0.4565566100071874 and parameters: {'bagging_fraction': 0.4433156329043991, 'bagging_freq': 3}. Best is trial 33 with value: 0.4565566100071874.
bagging, val_score: 0.456557:  70%|#####################################                | 7/10 [00:07<00:03,  1.11s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(

Best score: {0.45246785937091244}
Best params:
{'objective': 'binary', 'metric': 'binary_logloss', 'force_row_wise': True, 'verbose': -1, 'feature_pre_filter': False, 'lambda_l1': 2.706289304725456, 'lambda_l2': 0.0027930936137356716, 'num_leaves': 4, 'feature_fraction': 0.4, 'bagging_fraction': 0.4433156329043991, 'bagging_freq': 3, 'min_child_samples': 20}

In [40]:
model = lgb.train(tuner.best_params,
                  trains, valid_sets=[valids],
                  num_boost_round=5000,
                  callbacks=[lgb.early_stopping(stopping_rounds=100, verbose=True)]
                  )

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[710]	valid_0's binary_logloss: 0.430591

In [42]:
from sklearn import metrics

estimated_val_y = pd.DataFrame(model.predict(val_x))
estimated_val_y.index = val_x.index
estimated_val_y.columns = ['estimated_val_y']

estimated_val_y['estimated_val_y'] = (estimated_val_y['estimated_val_y'] > 0.5).astype(int)

metrics.accuracy_score(val_y, estimated_val_y)

0.8004166666666667

In [44]:
display(df_test.head())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,0,7,6,6,0,0,16961,18201
1,0,6,6,6,2,1,18513,18021
2,1,6,4,3,0,0,13475,17256
3,0,5,4,7,0,0,17409,17256
4,0,10,8,9,0,0,18117,18472

In [46]:
df_test["blueWins"] = pd.DataFrame(model.predict(df_test))

df_test["blueWins"] = (df_test["blueWins"] > 0.5).astype(int)
print(df_test.head())

   blueFirstBlood  blueKills  blueDeaths  blueAssists  blueEliteMonsters  \
0               0          7           6            6                  0
1               0          6           6            6                  2
2               1          6           4            3                  0
3               0          5           4            7                  0
4               0         10           8            9                  0

   blueDragons  blueTotalGold  blueTotalExperience  blueWins
0            0          16961                18201         1
1            1          18513                18021         1
2            0          13475                17256         1
3            0          17409                17256         0
4            0          18117                18472         1

In [48]:
df_sample[1] = df_test["blueWins"]
df_sample.to_csv("./sample_submit.csv",header=None,index=False)