In [40]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression as LR
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [56]:
df_train = pd.read_csv("./train.csv")
df_test = pd.read_csv("./test.csv")
df_sample = pd.read_csv("./sample_submit.csv",header=None)
df_train = df_train.drop(["gameId"],axis="columns")
df_test = df_test.drop(["gameId"],axis="columns")
display(df_train.head())
display(df_test.head())
display(df_sample.head())
print(df_train.info())
print(df_test.info())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins
0,0,5,8,6,0,0,14536,17256,0
1,1,10,1,5,0,0,14536,17863,0
2,0,3,10,2,0,0,17409,17256,0
3,1,7,10,8,0,0,19558,18201,0
4,0,4,9,4,0,0,17409,17256,0

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience
0,0,7,6,6,0,0,16961,18201
1,0,6,6,6,2,1,18513,18021
2,1,6,4,3,0,0,13475,17256
3,0,5,4,7,0,0,17409,17256
4,0,10,8,9,0,0,18117,18472

    0  1
0   9  1
1  15  1
2  18  1
3  23  0
4  31  1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       8000 non-null   int64
 1   blueKills            8000 non-null   int64
 2   blueDeaths           8000 non-null   int64
 3   blueAssists          8000 non-null   int64
 4   blueEliteMonsters    8000 non-null   int64
 5   blueDragons          8000 non-null   int64
 6   blueTotalGold        8000 non-null   int64
 7   blueTotalExperience  8000 non-null   int64
 8   blueWins             8000 non-null   int64
dtypes: int64(9)
memory usage: 562.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       2000 non-null   int64
 1   blueKills            2000 non-null   int64
 2   blueDeaths           2000 non-null   int64
 3   blueAssists          2000 non-null   int64
 4   blueEliteMonsters    2000 non-null   int64
 5   blueDragons          2000 non-null   int64
 6   blueTotalGold        2000 non-null   int64
 7   blueTotalExperience  2000 non-null   int64
dtypes: int64(8)
memory usage: 125.1 KB
None

In [58]:
df_train["kill_death"] = df_train["blueKills"]-df_train["blueDeaths"]
df_test["kill_death"] = df_test["blueKills"]-df_test["blueDeaths"]
display(df_train.head())
display(df_test.head())
print(df_train.info())
print(df_test.info())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
0,0,5,8,6,0,0,14536,17256,0,-3
1,1,10,1,5,0,0,14536,17863,0,9
2,0,3,10,2,0,0,17409,17256,0,-7
3,1,7,10,8,0,0,19558,18201,0,-3
4,0,4,9,4,0,0,17409,17256,0,-5

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,kill_death
0,0,7,6,6,0,0,16961,18201,1
1,0,6,6,6,2,1,18513,18021,0
2,1,6,4,3,0,0,13475,17256,2
3,0,5,4,7,0,0,17409,17256,1
4,0,10,8,9,0,0,18117,18472,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       8000 non-null   int64
 1   blueKills            8000 non-null   int64
 2   blueDeaths           8000 non-null   int64
 3   blueAssists          8000 non-null   int64
 4   blueEliteMonsters    8000 non-null   int64
 5   blueDragons          8000 non-null   int64
 6   blueTotalGold        8000 non-null   int64
 7   blueTotalExperience  8000 non-null   int64
 8   blueWins             8000 non-null   int64
 9   kill_death           8000 non-null   int64
dtypes: int64(10)
memory usage: 625.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   blueFirstBlood       2000 non-null   int64
 1   blueKills            2000 non-null   int64
 2   blueDeaths           2000 non-null   int64
 3   blueAssists          2000 non-null   int64
 4   blueEliteMonsters    2000 non-null   int64
 5   blueDragons          2000 non-null   int64
 6   blueTotalGold        2000 non-null   int64
 7   blueTotalExperience  2000 non-null   int64
 8   kill_death           2000 non-null   int64
dtypes: int64(9)
memory usage: 140.8 KB
None

In [60]:
df_train_win = df_train[df_train["blueWins"]==1]
df_train_lose = df_train[df_train["blueWins"]==0]
display(df_train.describe())
display(df_train_win.describe())
display(df_train_lose.describe())

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,8000.000000,8000.000000,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000
mean,0.513000,6.029750,5.92350,5.881875,0.538625,0.358125,17154.067750,17983.514000,0.491750,0.106250
std,0.499862,2.623876,2.64892,3.189897,0.629728,0.479479,1820.796171,772.348402,0.499963,3.874608
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,13475.000000,16650.000000,0.000000,-13.000000
25%,0.000000,4.000000,4.00000,3.000000,0.000000,0.000000,16544.000000,17256.000000,0.000000,-2.000000
50%,1.000000,6.000000,6.00000,6.000000,0.000000,0.000000,17409.000000,18021.000000,0.000000,0.000000
75%,1.000000,8.000000,8.00000,8.000000,1.000000,1.000000,18274.000000,18472.000000,1.000000,2.000000
max,1.000000,14.000000,14.00000,17.000000,2.000000,1.000000,20619.000000,20101.000000,1.000000,13.000000

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.000000,3934.0,3934.000000
mean,0.628114,6.930097,5.284698,6.892476,0.713269,0.480935,17229.011947,18241.174377,1.0,1.645399
std,0.483370,2.554853,2.492559,3.191630,0.652903,0.499700,1901.874128,643.779242,0.0,3.579127
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13475.000000,16650.000000,1.0,-11.000000
25%,0.000000,5.000000,4.000000,5.000000,0.000000,0.000000,16544.000000,18021.000000,1.0,0.000000
50%,1.000000,7.000000,5.000000,7.000000,1.000000,0.000000,18274.000000,18201.000000,1.0,2.000000
75%,1.000000,9.000000,7.000000,9.000000,1.000000,1.000000,18513.000000,18491.000000,1.0,4.000000
max,1.000000,14.000000,14.000000,17.000000,2.000000,1.000000,20619.000000,20101.000000,1.0,13.000000

,blueFirstBlood,blueKills,blueDeaths,blueAssists,blueEliteMonsters,blueDragons,blueTotalGold,blueTotalExperience,blueWins,kill_death
count,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.000000,4066.0,4066.000000
mean,0.401623,5.158633,6.541564,4.904083,0.369651,0.239302,17081.556567,17734.218396,0.0,-1.382932
std,0.490287,2.385106,2.649397,2.867496,0.556614,0.426710,1735.913010,803.998697,0.0,3.554765
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,13475.000000,16650.000000,0.0,-13.000000
25%,0.000000,3.000000,5.000000,3.000000,0.000000,0.000000,16961.000000,17256.000000,0.0,-4.000000
50%,0.000000,5.000000,6.000000,5.000000,0.000000,0.000000,17409.000000,17256.000000,0.0,-1.000000
75%,1.000000,7.000000,9.000000,7.000000,1.000000,0.000000,17409.000000,18201.000000,0.0,1.000000
max,1.000000,13.000000,14.000000,14.000000,2.000000,1.000000,20619.000000,20004.000000,0.0,13.000000

In [62]:
from sklearn.model_selection import KFold
import lightgbm as lgb
import optuna.integration.lightgbm as lgb_op
from sklearn.model_selection import train_test_split

train_data,val_data = train_test_split(df_train,test_size=0.2,random_state=0)

col = 'blueWins'
train_y = train_data[col]
train_x = train_data.drop(col,axis=1)

val_y = val_data[col]
val_x = val_data.drop(col,axis=1)

trains = lgb.Dataset(train_x,train_y)
valids = lgb.Dataset(val_x,val_y)

params = {
  'objective':'binary',
  'metric': 'binary_logloss',
  'force_row_wise' : True,
  'verbose': -1
}

tuner = lgb_op.LightGBMTunerCV(params, trains,num_boost_round=1000,
folds=KFold(n_splits=3, shuffle=True, random_state=5))
tuner.run()

print('Best score:' ,{tuner.best_score})
print('Best params:')
print(tuner.best_params)

[I 2025-01-05 21:29:50,235] A new study created in memory with name: no-name-3e236080-33e1-48bd-8529-47336041f63d
feature_fraction, val_score: inf:   0%|                                                          | 0/7 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.717011:  14%|######4                                      | 1/7 [00:02<00:12,  2.09s/it][I 2025-01-05 21:29:52,321] Trial 0 finished with value: 0.7170107528999358 and parameters: {'feature_fraction': 1.0}. Best is trial 0 with value: 0.7170107528999358.
feature_fraction, val_score: 0.717011:  14%|######4                                      | 1/7 [00:02<00:12,  2.09s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.658248:  29%|############8                                | 2/7 [00:03<00:09,  1.98s/it][I 2025-01-05 21:29:54,243] Trial 1 finished with value: 0.6582483291445796 and parameters: {'feature_fraction': 0.6}. Best is trial 1 with value: 0.6582483291445796.
feature_fraction, val_score: 0.658248:  29%|############8                                | 2/7 [00:04<00:09,  1.98s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.658248:  43%|###################2                         | 3/7 [00:05<00:07,  1.89s/it][I 2025-01-05 21:29:56,010] Trial 2 finished with value: 0.6582483291445796 and parameters: {'feature_fraction': 0.5}. Best is trial 1 with value: 0.6582483291445796.
feature_fraction, val_score: 0.658248:  43%|###################2                         | 3/7 [00:05<00:07,  1.89s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.658248:  57%|#########################7                   | 4/7 [00:07<00:05,  1.80s/it][I 2025-01-05 21:29:57,680] Trial 3 finished with value: 0.6750766492195416 and parameters: {'feature_fraction': 0.7}. Best is trial 1 with value: 0.6582483291445796.
feature_fraction, val_score: 0.658248:  57%|#########################7                   | 4/7 [00:07<00:05,  1.80s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.638016:  71%|################################1            | 5/7 [00:09<00:03,  1.76s/it][I 2025-01-05 21:29:59,355] Trial 4 finished with value: 0.6380162041050199 and parameters: {'feature_fraction': 0.4}. Best is trial 4 with value: 0.6380162041050199.
feature_fraction, val_score: 0.638016:  71%|################################1            | 5/7 [00:09<00:03,  1.76s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.638016:  86%|######################################5      | 6/7 [00:10<00:01,  1.77s/it][I 2025-01-05 21:30:01,137] Trial 5 finished with value: 0.7068531074950176 and parameters: {'feature_fraction': 0.8999999999999999}. Best is trial 4 with value: 0.6380162041050199.
feature_fraction, val_score: 0.638016:  86%|######################################5      | 6/7 [00:10<00:01,  1.77s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
feature_fraction, val_score: 0.638016: 100%|#############################################| 7/7 [00:12<00:00,  1.73s/it][I 2025-01-05 21:30:02,794] Trial 6 finished with value: 0.6916644022355279 and parameters: {'feature_fraction': 0.8}. Best is trial 4 with value: 0.6380162041050199.
feature_fraction, val_score: 0.638016: 100%|#############################################| 7/7 [00:12<00:00,  1.79s/it]
num_leaves, val_score: 0.638016:   0%|                                                          | 0/20 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.638016:   5%|##5                                               | 1/20 [00:05<01:51,  5.89s/it][I 2025-01-05 21:30:08,700] Trial 7 finished with value: 0.985789685204785 and parameters: {'num_leaves': 189}. Best is trial 7 with value: 0.985789685204785.
num_leaves, val_score: 0.638016:   5%|##5                                               | 1/20 [00:05<01:51,  5.89s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.638016:  10%|#####                                             | 2/20 [00:11<01:41,  5.62s/it][I 2025-01-05 21:30:14,125] Trial 8 finished with value: 0.985789685204785 and parameters: {'num_leaves': 245}. Best is trial 7 with value: 0.985789685204785.
num_leaves, val_score: 0.638016:  10%|#####                                             | 2/20 [00:11<01:41,  5.62s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.595880:  15%|#######5                                          | 3/20 [00:12<01:03,  3.74s/it][I 2025-01-05 21:30:15,625] Trial 9 finished with value: 0.5958801046331635 and parameters: {'num_leaves': 24}. Best is trial 9 with value: 0.5958801046331635.
num_leaves, val_score: 0.595880:  15%|#######5                                          | 3/20 [00:12<01:03,  3.74s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  20%|##########                                        | 4/20 [00:13<00:39,  2.47s/it][I 2025-01-05 21:30:16,157] Trial 10 finished with value: 0.45483596608223603 and parameters: {'num_leaves': 3}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  20%|##########                                        | 4/20 [00:13<00:39,  2.47s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  25%|############5                                     | 5/20 [00:13<00:26,  1.75s/it][I 2025-01-05 21:30:16,641] Trial 11 finished with value: 0.4686543171433395 and parameters: {'num_leaves': 2}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  25%|############5                                     | 5/20 [00:13<00:26,  1.75s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  30%|###############                                   | 6/20 [00:14<00:18,  1.31s/it][I 2025-01-05 21:30:17,095] Trial 12 finished with value: 0.4686543171433395 and parameters: {'num_leaves': 2}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  30%|###############                                   | 6/20 [00:14<00:18,  1.31s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  35%|#################5                                | 7/20 [00:17<00:27,  2.09s/it][I 2025-01-05 21:30:20,767] Trial 13 finished with value: 0.8851050834796391 and parameters: {'num_leaves': 82}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  35%|#################5                                | 7/20 [00:17<00:27,  2.09s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  40%|####################                              | 8/20 [00:21<00:30,  2.53s/it][I 2025-01-05 21:30:24,252] Trial 14 finished with value: 0.8587677886875859 and parameters: {'num_leaves': 75}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  40%|####################                              | 8/20 [00:21<00:30,  2.53s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  45%|######################5                           | 9/20 [00:24<00:28,  2.63s/it][I 2025-01-05 21:30:27,097] Trial 15 finished with value: 0.7893428708390937 and parameters: {'num_leaves': 60}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  45%|######################5                           | 9/20 [00:24<00:28,  2.63s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  50%|########################5                        | 10/20 [00:29<00:34,  3.43s/it][I 2025-01-05 21:30:32,317] Trial 16 finished with value: 0.9821660920947394 and parameters: {'num_leaves': 137}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  50%|########################5                        | 10/20 [00:29<00:34,  3.43s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  55%|##########################9                      | 11/20 [00:31<00:25,  2.88s/it][I 2025-01-05 21:30:33,943] Trial 17 finished with value: 0.6257365036731403 and parameters: {'num_leaves': 29}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  55%|##########################9                      | 11/20 [00:31<00:25,  2.88s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  60%|#############################4                   | 12/20 [00:36<00:28,  3.51s/it][I 2025-01-05 21:30:38,899] Trial 18 finished with value: 0.9734199877531587 and parameters: {'num_leaves': 119}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  60%|#############################4                   | 12/20 [00:36<00:28,  3.51s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  65%|###############################8                 | 13/20 [00:36<00:18,  2.70s/it][I 2025-01-05 21:30:39,743] Trial 19 finished with value: 0.48974510320871073 and parameters: {'num_leaves': 8}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  65%|###############################8                 | 13/20 [00:36<00:18,  2.70s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  70%|##################################3              | 14/20 [00:39<00:15,  2.62s/it][I 2025-01-05 21:30:42,181] Trial 20 finished with value: 0.7418579694776959 and parameters: {'num_leaves': 49}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  70%|##################################3              | 14/20 [00:39<00:15,  2.62s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  75%|####################################7            | 15/20 [00:39<00:09,  1.98s/it][I 2025-01-05 21:30:42,666] Trial 21 finished with value: 0.4686543171433395 and parameters: {'num_leaves': 2}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  75%|####################################7            | 15/20 [00:39<00:09,  1.98s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  80%|#######################################2         | 16/20 [00:40<00:06,  1.63s/it][I 2025-01-05 21:30:43,498] Trial 22 finished with value: 0.48974510320871073 and parameters: {'num_leaves': 8}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  80%|#######################################2         | 16/20 [00:40<00:06,  1.63s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  85%|#########################################6       | 17/20 [00:42<00:05,  1.71s/it][I 2025-01-05 21:30:45,390] Trial 23 finished with value: 0.6483404555852994 and parameters: {'num_leaves': 33}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  85%|#########################################6       | 17/20 [00:42<00:05,  1.71s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  90%|############################################1    | 18/20 [00:47<00:05,  2.57s/it][I 2025-01-05 21:30:49,956] Trial 24 finished with value: 0.9228572740061732 and parameters: {'num_leaves': 92}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  90%|############################################1    | 18/20 [00:47<00:05,  2.57s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836:  95%|##############################################5  | 19/20 [00:49<00:02,  2.53s/it][I 2025-01-05 21:30:52,387] Trial 25 finished with value: 0.7172014604677948 and parameters: {'num_leaves': 46}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836:  95%|##############################################5  | 19/20 [00:49<00:02,  2.53s/it]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
num_leaves, val_score: 0.454836: 100%|#################################################| 20/20 [00:55<00:00,  3.67s/it][I 2025-01-05 21:30:58,708] Trial 26 finished with value: 0.985789685204785 and parameters: {'num_leaves': 178}. Best is trial 10 with value: 0.45483596608223603.
num_leaves, val_score: 0.454836: 100%|#################################################| 20/20 [00:55<00:00,  2.79s/it]
bagging, val_score: 0.454836:   0%|                                                             | 0/10 [00:00<?, ?it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.454628:  10%|#####3                                               | 1/10 [00:00<00:06,  1.39it/s][I 2025-01-05 21:30:59,427] Trial 27 finished with value: 0.4546276941199315 and parameters: {'bagging_fraction': 0.9953127598449423, 'bagging_freq': 2}. Best is trial 27 with value: 0.4546276941199315.
bagging, val_score: 0.454628:  10%|#####3                                               | 1/10 [00:00<00:06,  1.39it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.454628:  20%|##########6                                          | 2/10 [00:01<00:05,  1.41it/s][I 2025-01-05 21:31:00,131] Trial 28 finished with value: 0.45481886225658535 and parameters: {'bagging_fraction': 0.9778973923667046, 'bagging_freq': 2}. Best is trial 27 with value: 0.4546276941199315.
bagging, val_score: 0.454628:  20%|##########6                                          | 2/10 [00:01<00:05,  1.41it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.454628:  30%|###############9                                     | 3/10 [00:02<00:04,  1.43it/s][I 2025-01-05 21:31:00,818] Trial 29 finished with value: 0.4550261110465932 and parameters: {'bagging_fraction': 0.9930163530055646, 'bagging_freq': 2}. Best is trial 27 with value: 0.4546276941199315.
bagging, val_score: 0.454628:  30%|###############9                                     | 3/10 [00:02<00:04,  1.43it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.454432:  40%|#####################2                               | 4/10 [00:02<00:04,  1.40it/s][I 2025-01-05 21:31:01,549] Trial 30 finished with value: 0.45443175304353933 and parameters: {'bagging_fraction': 0.9942759607882188, 'bagging_freq': 2}. Best is trial 30 with value: 0.45443175304353933.
bagging, val_score: 0.454432:  40%|#####################2                               | 4/10 [00:02<00:04,  1.40it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.454432:  50%|##########################5                          | 5/10 [00:03<00:03,  1.37it/s][I 2025-01-05 21:31:02,314] Trial 31 finished with value: 0.4552337700608506 and parameters: {'bagging_fraction': 0.9980240402046975, 'bagging_freq': 2}. Best is trial 30 with value: 0.45443175304353933.
bagging, val_score: 0.454432:  50%|##########################5                          | 5/10 [00:03<00:03,  1.37it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.454432:  60%|###############################8                     | 6/10 [00:04<00:02,  1.41it/s][I 2025-01-05 21:31:02,986] Trial 32 finished with value: 0.4545684447946729 and parameters: {'bagging_fraction': 0.9924804933158969, 'bagging_freq': 2}. Best is trial 30 with value: 0.45443175304353933.
bagging, val_score: 0.454432:  60%|###############################8                     | 6/10 [00:04<00:02,  1.41it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(
bagging, val_score: 0.454432:  70%|#####################################                | 7/10 [00:04<00:02,  1.43it/s][I 2025-01-05 21:31:03,658] Trial 33 finished with value: 0.45508707500952456 and parameters: {'bagging_fraction': 0.9953661814006945, 'bagging_freq': 2}. Best is trial 30 with value: 0.45443175304353933.
bagging, val_score: 0.454432:  70%|#####################################                | 7/10 [00:04<00:02,  1.43it/s]C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:91: UserWarning: The groups parameter is ignored by KFold
  warnings.warn(

Best score: {0.4513087052473715}
Best params:
{'objective': 'binary', 'metric': 'binary_logloss', 'force_row_wise': True, 'verbose': -1, 'feature_pre_filter': False, 'lambda_l1': 2.303119542248407, 'lambda_l2': 1.313673317124386e-06, 'num_leaves': 3, 'feature_fraction': 0.4, 'bagging_fraction': 0.9942759607882188, 'bagging_freq': 2, 'min_child_samples': 50}

In [65]:
model = lgb.train(tuner.best_params,
                  trains, valid_sets=[valids],
                  num_boost_round=5000,
                  callbacks=[lgb.early_stopping(stopping_rounds=100, verbose=True)]
                  )

Training until validation scores don't improve for 100 rounds
Early stopping, best iteration is:
[1215]	valid_0's binary_logloss: 0.426028

In [105]:
from sklearn import metrics

estimated_val_y = pd.DataFrame(model.predict(val_x))
estimated_val_y.index = val_x.index
estimated_val_y.columns = ['estimated_val_y']

estimated_val_y['estimated_val_y'] = (estimated_val_y['estimated_val_y'] > 0.5).astype(int)

metrics.accuracy_score(val_y, estimated_val_y)

0.8125

In [107]:
df_test["blueWins"] = pd.DataFrame(model.predict(df_test))

df_test["blueWins"] = (df_test["blueWins"] > 0.5).astype(int)
print(df_test.head())

   blueFirstBlood  blueKills  blueDeaths  blueAssists  blueEliteMonsters  \
0               0          7           6            6                  0
1               0          6           6            6                  2
2               1          6           4            3                  0
3               0          5           4            7                  0
4               0         10           8            9                  0

   blueDragons  blueTotalGold  blueTotalExperience  kill_death  blueWins
0            0          16961                18201           1         0
1            1          18513                18021           0         1
2            0          13475                17256           2         1
3            0          17409                17256           1         0
4            0          18117                18472           2         1

In [109]:
df_sample[1] = df_test["blueWins"]
df_sample.to_csv("./sample_submit.csv",header=None,index=False)