In [1]:
import pandas as pd
import numpy as np

In [3]:
df_train = pd.read_csv("./train.csv")
display(df_train.head())

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,0,56,1,5882,0,38,0,185315.0104,0.844417,134,1,0,10,1
1,3,50,0,1767,1,35,0,371620.3666,0.837448,136,0,0,187,1
2,7,41,0,250,1,30,0,372810.2084,0.819996,139,1,0,29,1
3,11,47,0,582,1,20,0,185780.6482,0.870314,137,0,0,43,0
4,12,60,0,80,0,25,0,265096.3999,0.828112,136,1,0,213,0

In [5]:
display(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1000 non-null   int64
 1   age                       1000 non-null   int64
 2   anaemia                   1000 non-null   int64
 3   creatinine_phosphokinase  1000 non-null   int64
 4   diabetes                  1000 non-null   int64
 5   ejection_fraction         1000 non-null   int64
 6   high_blood_pressure       1000 non-null   int64
 7   platelets                 1000 non-null   float64
 8   serum_creatinine          1000 non-null   float64
 9   serum_sodium              1000 non-null   int64
 10  sex                       1000 non-null   int64
 11  smoking                   1000 non-null   int64
 12  time                      1000 non-null   int64
 13  target                    1000 non-null   int64
dtypes: float64(2), int64(12)
memory usage: 109.5 KB

None

In [6]:
print(df_train.shape)

(1000, 14)

In [10]:
display(df_train.corr())

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
id,1.000000,-0.009706,0.047117,-0.032510,-0.016481,-0.002869,0.010901,0.076857,-0.029488,-0.054380,0.036229,-0.024793,-0.005215,0.028046
age,-0.009706,1.000000,-0.081584,0.073761,-0.292931,0.167132,0.049607,-0.132735,0.018757,0.086147,0.037417,-0.024095,-0.037797,0.115899
anaemia,0.047117,-0.081584,1.000000,-0.060977,0.126494,0.223001,-0.026679,0.121458,0.014769,0.181867,-0.179634,-0.174311,-0.011305,-0.032421
creatinine_phosphokinase,-0.032510,0.073761,-0.060977,1.000000,-0.069392,-0.009976,0.021842,-0.093147,0.071342,0.042080,-0.012281,0.010973,-0.093119,0.122632
diabetes,-0.016481,-0.292931,0.126494,-0.069392,1.000000,0.051338,0.047725,0.074693,-0.045613,-0.113858,-0.072535,-0.119327,0.020410,0.031315
ejection_fraction,-0.002869,0.167132,0.223001,-0.009976,0.051338,1.000000,0.082760,0.021659,0.063066,0.103852,-0.152956,0.014769,-0.101403,-0.026801
high_blood_pressure,0.010901,0.049607,-0.026679,0.021842,0.047725,0.082760,1.000000,0.014334,-0.019452,-0.051340,0.027694,0.141865,-0.096224,0.147968
platelets,0.076857,-0.132735,0.121458,-0.093147,0.074693,0.021659,0.014334,1.000000,-0.107409,-0.021707,-0.111318,-0.004204,0.060992,-0.055184
serum_creatinine,-0.029488,0.018757,0.014769,0.071342,-0.045613,0.063066,-0.019452,-0.107409,1.000000,-0.097223,-0.040661,-0.054871,-0.154102,0.221103
serum_sodium,-0.054380,0.086147,0.181867,0.042080,-0.113858,0.103852,-0.051340,-0.021707,-0.097223,1.000000,-0.064175,0.002493,-0.032669,-0.091057
sex,0.036229,0.037417,-0.179634,-0.012281,-0.072535,-0.152956,0.027694,-0.111318,-0.040661,-0.064175,1.000000,0.334151,-0.009283,-0.037868
smoking,-0.024793,-0.024095,-0.174311,0.010973,-0.119327,0.014769,0.141865,-0.004204,-0.054871,0.002493,0.334151,1.000000,-0.051916,-0.107457
time,-0.005215,-0.037797,-0.011305,-0.093119,0.020410,-0.101403,-0.096224,0.060992,-0.154102,-0.032669,-0.009283,-0.051916,1.000000,-0.152785
target,0.028046,0.115899,-0.032421,0.122632,0.031315,-0.026801,0.147968,-0.055184,0.221103,-0.091057,-0.037868,-0.107457,-0.152785,1.000000

In [12]:
display(df_train.describe())

,id,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,999.734000,57.632000,0.41600,605.359000,0.270000,36.691000,0.237000,278330.242337,1.030258,136.841000,0.755000,0.25600,149.560000,0.198000
std,578.002214,9.875328,0.49314,971.937382,0.444182,11.037089,0.425455,79543.675235,0.704616,3.405777,0.430302,0.43664,77.381072,0.398692
min,0.000000,39.000000,0.00000,23.000000,0.000000,14.000000,0.000000,138173.134500,0.629178,116.000000,0.000000,0.00000,4.000000,0.000000
25%,496.750000,50.000000,0.00000,93.000000,0.000000,30.000000,0.000000,256629.434900,0.798218,135.000000,1.000000,0.00000,84.500000,0.000000
50%,1007.500000,58.000000,0.00000,255.000000,0.000000,35.000000,0.000000,267025.054700,0.844389,136.500000,1.000000,0.00000,185.000000,0.000000
75%,1512.250000,61.000000,1.00000,582.000000,1.000000,40.000000,0.000000,279943.418975,0.956294,139.000000,1.000000,1.00000,213.000000,0.000000
max,1998.000000,85.000000,1.00000,7861.000000,1.000000,70.000000,1.000000,824131.916700,8.994597,146.000000,1.000000,1.00000,285.000000,1.000000