### ライブラリのインポート

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

### CSVファイルの読み込み

In [21]:
sample = pd.read_csv('sample_submit.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train_add = pd.read_csv('train_add.csv')
_2014_add = pd.read_csv('2014_add.csv')
condition = pd.read_csv('condition.csv')
condition_add = pd.read_csv('condition_add.csv')
stadium = pd.read_csv('stadium.csv')

# 確認
print(sample.head())
print(train.head())
print(test.head())
print(train_add.head())
print(_2014_add.head())
print(condition.head())
print(condition_add.head())
print(stadium.head())

   15822  10662.3951191
0  15823   10662.395119
1  15824   10662.395119
2  15825   10662.395119
3  15827   10662.395119
4  15828   10662.395119
      id      y  year stage   match   gameday   time       home      away  \
0  13994  18250  2012    Ｊ１  第１節第１日  03/10(土)  14:04     ベガルタ仙台  鹿島アントラーズ
1  13995  24316  2012    Ｊ１  第１節第１日  03/10(土)  14:04   名古屋グランパス   清水エスパルス
2  13996  17066  2012    Ｊ１  第１節第１日  03/10(土)  14:04      ガンバ大阪   ヴィッセル神戸
3  13997  29603  2012    Ｊ１  第１節第１日  03/10(土)  14:06  サンフレッチェ広島     浦和レッズ
4  13998  25353  2012    Ｊ１  第１節第１日  03/10(土)  14:04   コンサドーレ札幌    ジュビロ磐田

        stadium                                  tv
0  ユアテックスタジアム仙台                 スカパー／ｅ２／スカパー光／ＮＨＫ総合
1       豊田スタジアム    スカパー／ｅ２／スカパー光（Ｊ　ＳＰＯＲＴＳ　４）／ＮＨＫ名古屋
2       万博記念競技場     スカパー／ｅ２／スカパー光（Ｊ　ＳＰＯＲＴＳ　１）／ＮＨＫ大阪
3  エディオンスタジアム広島                 スカパー／ｅ２／スカパー光／ＮＨＫ広島
4         札幌ドーム  スカパー／ｅ２／スカパー光（スカイ・Ａ　ｓｐｏｒｔｓ＋）／ＮＨＫ札幌
      id  year stage    match   gameday   time       home       away  \
0  15822  2014    Ｊ１  第１８節第１日  08/02(土)  19:04     ベガルタ仙台  大宮アルディージャ
1  15823  2014    Ｊ１  第１８節第１日  08/02(土)  18:34   鹿島アントラーズ  サンフレッチェ広島
2  15824  2014    Ｊ１  第１８節第１日  08/02(土)  19:04      浦和レッズ    ヴィッセル神戸
3  15825  2014    Ｊ１  第１８節第１日  08/02(土)  19:03      柏レイソル   川崎フロンターレ
4  15827  2014    Ｊ１  第１８節第１日  08/02(土)  19:03  アルビレックス新潟     セレッソ大阪

          stadium                                tv
0    ユアテックスタジアム仙台              スカパー！／スカパー！プレミアムサービス
1  県立カシマサッカースタジアム              スカパー！／スカパー！プレミアムサービス
2     埼玉スタジアム２００２  スカパー！／スカパー！プレミアムサービス／ＮＨＫ　ＢＳ１／テレ玉
3        日立柏サッカー場              スカパー！／スカパー！プレミアムサービス
4  デンカビッグスワンスタジアム              スカパー！／スカパー！プレミアムサービス
      id      y  year stage    match   gameday   time      home      away  \
0  14003  19010  2012    Ｊ１   第２節第１日  03/17(土)  14:04  鹿島アントラーズ  川崎フロンターレ
1  14020  15072  2012    Ｊ１   第３節第２日  03/25(日)  19:03     ガンバ大阪    ジュビロ磐田
2  14023  25743  2012    Ｊ１   第４節第１日  03/31(土)  15:03     浦和レッズ  川崎フロンターレ
3  14076  24183  2012    Ｊ１  第１０節第１日  05/06(日)  13:03  横浜Ｆ・マリノス  コンサドーレ札幌
4  14081  20512  2012    Ｊ１  第１０節第１日  05/06(日)  17:03  名古屋グランパス  川崎フロンターレ

          stadium                                   tv
0  県立カシマサッカースタジアム                  スカパー／ｅ２／スカパー光／ＮＨＫ水戸
1         万博記念競技場                        スカパー／ｅ２／スカパー光
2     埼玉スタジアム２００２                    スカパー／ｅ２／スカパー光／テレ玉
3         日産スタジアム                        スカパー／ｅ２／スカパー光
4         豊田スタジアム  スカパー／ｅ２／スカパー光（Ｊ　ＳＰＯＲＴＳ　４）／名古屋テレビ（録）
      id  year stage    match   gameday   time       home      away  \
0  15826  2014    Ｊ１  第１８節第１日  08/02(土)  18:34       ＦＣ東京   清水エスパルス
1  15835  2014    Ｊ１  第１９節第１日  08/09(土)  18:04    清水エスパルス  徳島ヴォルティス
2  15837  2014    Ｊ１  第１９節第１日  08/09(土)  19:04     セレッソ大阪      ＦＣ東京
3  15839  2014    Ｊ１  第１９節第２日  08/11(月)  19:04  サンフレッチェ広島     サガン鳥栖
4  15872  2014    Ｊ１  第２３節第１日  09/13(土)  19:04  アルビレックス新潟    ベガルタ仙台

          stadium                             tv
0        味の素スタジアム  スカパー！／スカパー！プレミアムサービス／ＴＯＫＹＯ　ＭＸ
1     ＩＡＩスタジアム日本平           スカパー！／スカパー！プレミアムサービス
2     ヤンマースタジアム長居           スカパー！／スカパー！プレミアムサービス
3    エディオンスタジアム広島           スカパー！／スカパー！プレミアムサービス
4  デンカビッグスワンスタジアム           スカパー！／スカパー！プレミアムサービス
      id  home_score  away_score  weather  temperature humidity referee  \
0  13994           1           0        雨          3.8      66%   木村　博之
1  13995           1           0       屋内         12.4      43%   西村　雄一
2  13996           2           3     晴一時雨         11.3      41%   高山　啓義
3  13997           1           0  曇一時雨のち晴         11.4      52%    松尾　一
4  13998           0           0       屋内         22.5      32%    廣瀬　格

   home_team home_01 home_02  ... away_02   away_03        away_04 away_05  \
0     ベガルタ仙台    林　卓人   菅井　直樹  ...   新井場　徹     岩政　大樹          中田　浩二   アレックス
1   名古屋グランパス   楢﨑　正剛   田中　隼磨  ...    吉田　豊     岩下　敬輔  カルフィン　ヨン　ア　ピン    李　記帝
2      ガンバ大阪  藤ヶ谷　陽介    加地　亮  ...   近藤　岳登    北本　久仁衛         伊野波　雅彦   相馬　崇人
3  サンフレッチェ広島   西川　周作   森脇　良太  ...   濱田　水輝     阿部　勇樹          槙野　智章   平川　忠亮
4   コンサドーレ札幌    李　昊乗   高木　純平  ...   駒野　友一  チョ　ビョングク          藤田　義明   山本　脩斗

  away_06 away_07 away_08 away_09 away_10 away_11
0    青木　剛   増田　誓志  小笠原　満男   本山　雅志   大迫　勇也  ジュニーニョ
1   村松　大輔   河井　陽介   枝村　匠馬   高木　俊幸   アレックス   大前　元紀
2   三原　雅俊   田中　英雄   野沢　拓也   橋本　英郎   森岡　亮太  大久保　嘉人
3   鈴木　啓太   山田　直輝    梅崎　司   柏木　陽介   原口　元気   田中　達也
4   小林　裕紀   山本　康裕   山田　大記   松浦　拓弥    菅沼　実   前田　遼一

[5 rows x 31 columns]
      id  home_score  away_score weather  temperature humidity referee  \
0  14003           0           1       雨         13.3      86%   西村　雄一
1  14020           1           2       曇          4.6      56%   家本　政明
2  14023           1           1       雨         10.0      65%   家本　政明
3  14076           2           1       晴         27.9      47%   今村　義朗
4  14081           2           3       晴         19.0      48%   吉田　寿光

  home_team home_01 home_02  ... away_02   away_03 away_04 away_05 away_06  \
0  鹿島アントラーズ   曽ヶ端　準   新井場　徹  ...   實藤　友紀       ジェシ    森下　俊  小宮山　尊信   中村　憲剛
1     ガンバ大阪  藤ヶ谷　陽介    加地　亮  ...   駒野　友一  チョ　ビョングク   藤田　義明    金沢　浄   小林　裕紀
2     浦和レッズ   加藤　順大   坪井　慶介  ...   田中　裕介       ジェシ    森下　俊  小宮山　尊信   中村　憲剛
3  横浜Ｆ・マリノス   飯倉　大樹   小林　祐三  ...   日高　拓磨  ジェイド　ノース   櫛引　一紀   岩沼　俊介   河合　竜二
4  名古屋グランパス   楢﨑　正剛   石櫃　洋祐  ...   田中　裕介     井川　祐輔    森下　俊   登里　享平   稲本　潤一

  away_07 away_08 away_09 away_10 away_11
0   柴崎　晃誠   田坂　祐介   山瀬　功治     レナト    小松　塁
1   山本　康裕   山田　大記   松浦　拓弥    菅沼　実   前田　遼一
2   柴崎　晃誠   田坂　祐介   山瀬　功治     レナト    小松　塁
3   宮澤　裕樹   古田　寛幸   近藤　祐介   高木　純平   前田　俊介
4   中村　憲剛   大島　僚太   田坂　祐介   楠神　順平   矢島　卓郎

[5 rows x 31 columns]
          name           address   capa
0  名古屋市瑞穂陸上競技場  愛知県名古屋市瑞穂区山下通5-1  20000
1      豊田スタジアム      愛知県豊田市千石町7-2  40000
2    フクダ電子アリーナ  千葉県千葉市中央区川崎町1-20  18500
3     日立柏サッカー場    千葉県柏市日立台1-2-50  15349
4   ニンジニアスタジアム      愛媛県松山市上野町乙46  15576

In [6]:
# 行数と列数の確認
print("sample : ",sample.shape)
print("train : ",train.shape)
print("test : ",test.shape)
print("train_add : ",train_add.shape)
print("_2014_add : ",_2014_add.shape)
print("condition : ",condition.shape)
print("condition_add : ",condition_add.shape)
print("stadium : ",stadium.shape)

sample :  (312, 2)
train :  (1721, 11)
test :  (313, 10)
train_add :  (232, 11)
_2014_add :  (38, 10)
condition :  (2034, 31)
condition_add :  (270, 31)
stadium :  (59, 3)

### データ情報を確認する

In [7]:
# sample
print(sample.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   15822          312 non-null    int64
 1   10662.3951191  312 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 5.0 KB
None

In [9]:
# trainとtrain_add
print("[train]")
print(train.info())
print("[train_add]")
print(train_add.info())

[train]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1721 entries, 0 to 1720
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       1721 non-null   int64
 1   y        1721 non-null   int64
 2   year     1721 non-null   int64
 3   stage    1721 non-null   object
 4   match    1721 non-null   object
 5   gameday  1721 non-null   object
 6   time     1721 non-null   object
 7   home     1721 non-null   object
 8   away     1721 non-null   object
 9   stadium  1721 non-null   object
 10  tv       1721 non-null   object
dtypes: int64(3), object(8)
memory usage: 148.0+ KB
None
[train_add]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 232 entries, 0 to 231
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       232 non-null    int64
 1   y        232 non-null    int64
 2   year     232 non-null    int64
 3   stage    232 non-null    object
 4   match    232 non-null    object
 5   gameday  232 non-null    object
 6   time     232 non-null    object
 7   home     232 non-null    object
 8   away     232 non-null    object
 9   stadium  232 non-null    object
 10  tv       232 non-null    object
dtypes: int64(3), object(8)
memory usage: 20.1+ KB
None

In [10]:
# testと_2014_add
print("【test】")
print(test.info())
print("【_2014_add】")
print(_2014_add.info())

【test】
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313 entries, 0 to 312
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       313 non-null    int64
 1   year     313 non-null    int64
 2   stage    313 non-null    object
 3   match    313 non-null    object
 4   gameday  313 non-null    object
 5   time     313 non-null    object
 6   home     313 non-null    object
 7   away     313 non-null    object
 8   stadium  313 non-null    object
 9   tv       313 non-null    object
dtypes: int64(2), object(8)
memory usage: 24.6+ KB
None
【_2014_add】
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       38 non-null     int64
 1   year     38 non-null     int64
 2   stage    38 non-null     object
 3   match    38 non-null     object
 4   gameday  38 non-null     object
 5   time     38 non-null     object
 6   home     38 non-null     object
 7   away     38 non-null     object
 8   stadium  38 non-null     object
 9   tv       38 non-null     object
dtypes: int64(2), object(8)
memory usage: 3.1+ KB
None

In [11]:
# conditionとcondition_add
print("【condition】")
print(condition.info())
print("【condition_add】")
print(condition_add.info())

【condition】
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2034 entries, 0 to 2033
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2034 non-null   int64
 1   home_score   2034 non-null   int64
 2   away_score   2034 non-null   int64
 3   weather      2034 non-null   object
 4   temperature  2034 non-null   float64
 5   humidity     2034 non-null   object
 6   referee      2034 non-null   object
 7   home_team    2034 non-null   object
 8   home_01      2034 non-null   object
 9   home_02      2034 non-null   object
 10  home_03      2034 non-null   object
 11  home_04      2034 non-null   object
 12  home_05      2034 non-null   object
 13  home_06      2034 non-null   object
 14  home_07      2034 non-null   object
 15  home_08      2034 non-null   object
 16  home_09      2034 non-null   object
 17  home_10      2034 non-null   object
 18  home_11      2034 non-null   object
 19  away_team    2034 non-null   object
 20  away_01      2034 non-null   object
 21  away_02      2034 non-null   object
 22  away_03      2034 non-null   object
 23  away_04      2034 non-null   object
 24  away_05      2034 non-null   object
 25  away_06      2034 non-null   object
 26  away_07      2034 non-null   object
 27  away_08      2034 non-null   object
 28  away_09      2034 non-null   object
 29  away_10      2034 non-null   object
 30  away_11      2034 non-null   object
dtypes: float64(1), int64(3), object(27)
memory usage: 492.7+ KB
None
【condition_add】
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           270 non-null    int64
 1   home_score   270 non-null    int64
 2   away_score   270 non-null    int64
 3   weather      270 non-null    object
 4   temperature  270 non-null    float64
 5   humidity     270 non-null    object
 6   referee      270 non-null    object
 7   home_team    270 non-null    object
 8   home_01      270 non-null    object
 9   home_02      270 non-null    object
 10  home_03      270 non-null    object
 11  home_04      270 non-null    object
 12  home_05      270 non-null    object
 13  home_06      270 non-null    object
 14  home_07      270 non-null    object
 15  home_08      270 non-null    object
 16  home_09      270 non-null    object
 17  home_10      270 non-null    object
 18  home_11      270 non-null    object
 19  away_team    270 non-null    object
 20  away_01      270 non-null    object
 21  away_02      270 non-null    object
 22  away_03      270 non-null    object
 23  away_04      270 non-null    object
 24  away_05      270 non-null    object
 25  away_06      270 non-null    object
 26  away_07      270 non-null    object
 27  away_08      270 non-null    object
 28  away_09      270 non-null    object
 29  away_10      270 non-null    object
 30  away_11      270 non-null    object
dtypes: float64(1), int64(3), object(27)
memory usage: 65.5+ KB
None

In [12]:
# stadium
print(stadium.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     59 non-null     object
 1   address  59 non-null     object
 2   capa     59 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.5+ KB
None

### データを結合する

In [22]:
# trainとtrain_add => train_new
train_new = pd.concat([train,train_add])

# 確認
print(train_new.shape)
print(train_new.info())

(1953, 11)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1953 entries, 0 to 231
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       1953 non-null   int64
 1   y        1953 non-null   int64
 2   year     1953 non-null   int64
 3   stage    1953 non-null   object
 4   match    1953 non-null   object
 5   gameday  1953 non-null   object
 6   time     1953 non-null   object
 7   home     1953 non-null   object
 8   away     1953 non-null   object
 9   stadium  1953 non-null   object
 10  tv       1953 non-null   object
dtypes: int64(3), object(8)
memory usage: 183.1+ KB
None

In [23]:
# testと_2014_add => test_new

test_new = pd.concat([test,_2014_add])

# 確認
print(test_new.shape)
print(test_new.info())

(351, 10)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 351 entries, 0 to 37
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       351 non-null    int64
 1   year     351 non-null    int64
 2   stage    351 non-null    object
 3   match    351 non-null    object
 4   gameday  351 non-null    object
 5   time     351 non-null    object
 6   home     351 non-null    object
 7   away     351 non-null    object
 8   stadium  351 non-null    object
 9   tv       351 non-null    object
dtypes: int64(2), object(8)
memory usage: 30.2+ KB
None

In [24]:
# conditionとcondition_add => condition_new

condition_new = pd.concat([condition,condition_add])

# 確認
print(condition_new.shape)
print(condition_new.info())

(2304, 31)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2304 entries, 0 to 269
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           2304 non-null   int64
 1   home_score   2304 non-null   int64
 2   away_score   2304 non-null   int64
 3   weather      2304 non-null   object
 4   temperature  2304 non-null   float64
 5   humidity     2304 non-null   object
 6   referee      2304 non-null   object
 7   home_team    2304 non-null   object
 8   home_01      2304 non-null   object
 9   home_02      2304 non-null   object
 10  home_03      2304 non-null   object
 11  home_04      2304 non-null   object
 12  home_05      2304 non-null   object
 13  home_06      2304 non-null   object
 14  home_07      2304 non-null   object
 15  home_08      2304 non-null   object
 16  home_09      2304 non-null   object
 17  home_10      2304 non-null   object
 18  home_11      2304 non-null   object
 19  away_team    2304 non-null   object
 20  away_01      2304 non-null   object
 21  away_02      2304 non-null   object
 22  away_03      2304 non-null   object
 23  away_04      2304 non-null   object
 24  away_05      2304 non-null   object
 25  away_06      2304 non-null   object
 26  away_07      2304 non-null   object
 27  away_08      2304 non-null   object
 28  away_09      2304 non-null   object
 29  away_10      2304 non-null   object
 30  away_11      2304 non-null   object
dtypes: float64(1), int64(3), object(27)
memory usage: 576.0+ KB
None

In [25]:
# train_newとcondition_new => train_tmp
train_tmp = pd.merge(train_new,condition_new,on='id',how='left')

# 確認
#print(train_tmp.shape)
#print(train_tmp.info())
print(train_tmp.head())

      id      y  year stage   match   gameday   time       home      away  \
0  13994  18250  2012    Ｊ１  第１節第１日  03/10(土)  14:04     ベガルタ仙台  鹿島アントラーズ
1  13995  24316  2012    Ｊ１  第１節第１日  03/10(土)  14:04   名古屋グランパス   清水エスパルス
2  13996  17066  2012    Ｊ１  第１節第１日  03/10(土)  14:04      ガンバ大阪   ヴィッセル神戸
3  13997  29603  2012    Ｊ１  第１節第１日  03/10(土)  14:06  サンフレッチェ広島     浦和レッズ
4  13998  25353  2012    Ｊ１  第１節第１日  03/10(土)  14:04   コンサドーレ札幌    ジュビロ磐田

        stadium  ... away_02   away_03        away_04 away_05  away_06  \
0  ユアテックスタジアム仙台  ...   新井場　徹     岩政　大樹          中田　浩二   アレックス     青木　剛
1       豊田スタジアム  ...    吉田　豊     岩下　敬輔  カルフィン　ヨン　ア　ピン    李　記帝    村松　大輔
2       万博記念競技場  ...   近藤　岳登    北本　久仁衛         伊野波　雅彦   相馬　崇人    三原　雅俊
3  エディオンスタジアム広島  ...   濱田　水輝     阿部　勇樹          槙野　智章   平川　忠亮    鈴木　啓太
4         札幌ドーム  ...   駒野　友一  チョ　ビョングク          藤田　義明   山本　脩斗    小林　裕紀

  away_07 away_08 away_09 away_10 away_11
0   増田　誓志  小笠原　満男   本山　雅志   大迫　勇也  ジュニーニョ
1   河井　陽介   枝村　匠馬   高木　俊幸   アレックス   大前　元紀
2   田中　英雄   野沢　拓也   橋本　英郎   森岡　亮太  大久保　嘉人
3   山田　直輝    梅崎　司   柏木　陽介   原口　元気   田中　達也
4   山本　康裕   山田　大記   松浦　拓弥    菅沼　実   前田　遼一

[5 rows x 41 columns]

In [26]:
# train_tmpとstadium => train_tmp

train_tmp = pd.merge(train_tmp,stadium,left_on='stadium',right_on='name',how='left')

# 確認
print(train_tmp.shape)
print(train_tmp.info())

# 重複しているカラムを削除
train_tmp = train_tmp.drop(columns=['name'])

# 確認
print(train_tmp.shape)
print(train_tmp.info())

(1953, 44)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1953 entries, 0 to 1952
Data columns (total 44 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1953 non-null   int64
 1   y            1953 non-null   int64
 2   year         1953 non-null   int64
 3   stage        1953 non-null   object
 4   match        1953 non-null   object
 5   gameday      1953 non-null   object
 6   time         1953 non-null   object
 7   home         1953 non-null   object
 8   away         1953 non-null   object
 9   stadium      1953 non-null   object
 10  tv           1953 non-null   object
 11  home_score   1953 non-null   int64
 12  away_score   1953 non-null   int64
 13  weather      1953 non-null   object
 14  temperature  1953 non-null   float64
 15  humidity     1953 non-null   object
 16  referee      1953 non-null   object
 17  home_team    1953 non-null   object
 18  home_01      1953 non-null   object
 19  home_02      1953 non-null   object
 20  home_03      1953 non-null   object
 21  home_04      1953 non-null   object
 22  home_05      1953 non-null   object
 23  home_06      1953 non-null   object
 24  home_07      1953 non-null   object
 25  home_08      1953 non-null   object
 26  home_09      1953 non-null   object
 27  home_10      1953 non-null   object
 28  home_11      1953 non-null   object
 29  away_team    1953 non-null   object
 30  away_01      1953 non-null   object
 31  away_02      1953 non-null   object
 32  away_03      1953 non-null   object
 33  away_04      1953 non-null   object
 34  away_05      1953 non-null   object
 35  away_06      1953 non-null   object
 36  away_07      1953 non-null   object
 37  away_08      1953 non-null   object
 38  away_09      1953 non-null   object
 39  away_10      1953 non-null   object
 40  away_11      1953 non-null   object
 41  name         1953 non-null   object
 42  address      1953 non-null   object
 43  capa         1953 non-null   int64
dtypes: float64(1), int64(6), object(37)
memory usage: 686.6+ KB
None
(1953, 43)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1953 entries, 0 to 1952
Data columns (total 43 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1953 non-null   int64
 1   y            1953 non-null   int64
 2   year         1953 non-null   int64
 3   stage        1953 non-null   object
 4   match        1953 non-null   object
 5   gameday      1953 non-null   object
 6   time         1953 non-null   object
 7   home         1953 non-null   object
 8   away         1953 non-null   object
 9   stadium      1953 non-null   object
 10  tv           1953 non-null   object
 11  home_score   1953 non-null   int64
 12  away_score   1953 non-null   int64
 13  weather      1953 non-null   object
 14  temperature  1953 non-null   float64
 15  humidity     1953 non-null   object
 16  referee      1953 non-null   object
 17  home_team    1953 non-null   object
 18  home_01      1953 non-null   object
 19  home_02      1953 non-null   object
 20  home_03      1953 non-null   object
 21  home_04      1953 non-null   object
 22  home_05      1953 non-null   object
 23  home_06      1953 non-null   object
 24  home_07      1953 non-null   object
 25  home_08      1953 non-null   object
 26  home_09      1953 non-null   object
 27  home_10      1953 non-null   object
 28  home_11      1953 non-null   object
 29  away_team    1953 non-null   object
 30  away_01      1953 non-null   object
 31  away_02      1953 non-null   object
 32  away_03      1953 non-null   object
 33  away_04      1953 non-null   object
 34  away_05      1953 non-null   object
 35  away_06      1953 non-null   object
 36  away_07      1953 non-null   object
 37  away_08      1953 non-null   object
 38  away_09      1953 non-null   object
 39  away_10      1953 non-null   object
 40  away_11      1953 non-null   object
 41  address      1953 non-null   object
 42  capa         1953 non-null   int64
dtypes: float64(1), int64(6), object(36)
memory usage: 671.3+ KB
None

In [7]:
# train_tmpの先頭５行を表示する
print(train_tmp.head())
print(train_tmp['match'].head())
print(train_tmp['gameday'].head())
print(train_tmp['humidity'].head())
print(train_tmp['tv'].head())

0    第１節第１日
1    第１節第１日
2    第１節第１日
3    第１節第１日
4    第１節第１日
Name: match, dtype: object
0    03/10(土)
1    03/10(土)
2    03/10(土)
3    03/10(土)
4    03/10(土)
Name: gameday, dtype: object
0    66%
1    43%
2    41%
3    52%
4    32%
Name: humidity, dtype: object
0                   スカパー／ｅ２／スカパー光／ＮＨＫ総合
1      スカパー／ｅ２／スカパー光（Ｊ　ＳＰＯＲＴＳ　４）／ＮＨＫ名古屋
2       スカパー／ｅ２／スカパー光（Ｊ　ＳＰＯＲＴＳ　１）／ＮＨＫ大阪
3                   スカパー／ｅ２／スカパー光／ＮＨＫ広島
4    スカパー／ｅ２／スカパー光（スカイ・Ａ　ｓｐｏｒｔｓ＋）／ＮＨＫ札幌
Name: tv, dtype: object

In [8]:
# gamedayから月を抜き出してmonthカラムに設定する
def get_month(x):
    return int(x[0:2])
train_tmp['month'] = train_tmp['gameday'].apply(get_month)

# monthの設定値を確認する
print(train_tmp['month'].unique())

[ 3  4  5  6  7  8  9 10 11 12]

In [9]:
# gamedayから曜日を抜き出してweekカラムに設定する
def get_week(x):
    return x[6:7]

train_tmp['week'] = train_tmp['gameday'].apply(get_week)

# weekの設定値を確認する
print(train_tmp['week'].unique())

['土' '日' '木' '水' '金' '火' '月']

In [11]:
# matchから節数を抜き出してmatch_numカラムに設定する
def get_match(x):
    pos_s = 0
    pos_e = 0
    pos_s = x.find("第")
    pos_e = x.find("節")
    if pos_s != -1 and pos_e != -1:
        pos_s += 1
        return int(x[pos_s:pos_e])
    else:
        return 0

train_tmp['match_num'] = train_tmp['match'].apply(get_match)

# match_numの設定値を確認する
print(train_tmp['match_num'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42]

In [12]:
# humidityの"%"を削除して小数に変換する
def get_humidity(x):
    return float(x.rstrip('%')) / 100

train_tmp['humidity'] = train_tmp['humidity'].apply(get_humidity)

# humidityの設定値を確認する
print(train_tmp['humidity'].head().unique())

[0.66 0.43 0.41 0.52 0.32]

In [13]:
# train_tmpを確認する
print(train_tmp.head())
print(train_tmp.info())

      id      y  year stage   match   gameday   time       home      away  \
0  13994  18250  2012    Ｊ１  第１節第１日  03/10(土)  14:04     ベガルタ仙台  鹿島アントラーズ
1  13995  24316  2012    Ｊ１  第１節第１日  03/10(土)  14:04   名古屋グランパス   清水エスパルス
2  13996  17066  2012    Ｊ１  第１節第１日  03/10(土)  14:04      ガンバ大阪   ヴィッセル神戸
3  13997  29603  2012    Ｊ１  第１節第１日  03/10(土)  14:06  サンフレッチェ広島     浦和レッズ
4  13998  25353  2012    Ｊ１  第１節第１日  03/10(土)  14:04   コンサドーレ札幌    ジュビロ磐田

        stadium  ... away_07  away_08  away_09 away_10  away_11  \
0  ユアテックスタジアム仙台  ...   増田　誓志   小笠原　満男    本山　雅志   大迫　勇也   ジュニーニョ
1       豊田スタジアム  ...   河井　陽介    枝村　匠馬    高木　俊幸   アレックス    大前　元紀
2       万博記念競技場  ...   田中　英雄    野沢　拓也    橋本　英郎   森岡　亮太   大久保　嘉人
3  エディオンスタジアム広島  ...   山田　直輝     梅崎　司    柏木　陽介   原口　元気    田中　達也
4         札幌ドーム  ...   山本　康裕    山田　大記    松浦　拓弥    菅沼　実    前田　遼一

              address   capa month week match_num
0     宮城県仙台市泉区七北田字柳78  19694     3    土         1
1        愛知県豊田市千石町7-2  40000     3    土         1
2     大阪府吹田市千里万博公園5-2  21000     3    土         1
3  広島県広島市安佐南区大塚西5-1-1  50000     3    土         1
4       北海道札幌市豊平区羊ヶ丘1  39232     3    土         1

[5 rows x 46 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1953 entries, 0 to 1952
Data columns (total 46 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1953 non-null   int64
 1   y            1953 non-null   int64
 2   year         1953 non-null   int64
 3   stage        1953 non-null   object
 4   match        1953 non-null   object
 5   gameday      1953 non-null   object
 6   time         1953 non-null   object
 7   home         1953 non-null   object
 8   away         1953 non-null   object
 9   stadium      1953 non-null   object
 10  tv           1953 non-null   object
 11  home_score   1953 non-null   int64
 12  away_score   1953 non-null   int64
 13  weather      1953 non-null   object
 14  temperature  1953 non-null   float64
 15  humidity     1953 non-null   float64
 16  referee      1953 non-null   object
 17  home_team    1953 non-null   object
 18  home_01      1953 non-null   object
 19  home_02      1953 non-null   object
 20  home_03      1953 non-null   object
 21  home_04      1953 non-null   object
 22  home_05      1953 non-null   object
 23  home_06      1953 non-null   object
 24  home_07      1953 non-null   object
 25  home_08      1953 non-null   object
 26  home_09      1953 non-null   object
 27  home_10      1953 non-null   object
 28  home_11      1953 non-null   object
 29  away_team    1953 non-null   object
 30  away_01      1953 non-null   object
 31  away_02      1953 non-null   object
 32  away_03      1953 non-null   object
 33  away_04      1953 non-null   object
 34  away_05      1953 non-null   object
 35  away_06      1953 non-null   object
 36  away_07      1953 non-null   object
 37  away_08      1953 non-null   object
 38  away_09      1953 non-null   object
 39  away_10      1953 non-null   object
 40  away_11      1953 non-null   object
 41  address      1953 non-null   object
 42  capa         1953 non-null   int64
 43  month        1953 non-null   int64
 44  week         1953 non-null   object
 45  match_num    1953 non-null   int64
dtypes: float64(2), int64(8), object(36)
memory usage: 702.0+ KB
None

### 作成したデータをCSVに保存する

In [14]:
# train_tmp、test_new、condition_newをCSVに出力する
train_tmp.to_csv('train_tmp.csv',index=None)
test_new.to_csv('test_new.csv',index=None)
condition_new.to_csv('condition_new.csv',index=None)

### 保存したCSVファイルを読み込む

In [15]:
# train_tmp.csv、teat_new.csv、condition_new.csvを読み込む
train_tmp = pd.read_csv('train_tmp.csv')
test_new = pd.read_csv('test_new.csv')
condition_new = pd.read_csv('condition_new.csv')

# 既存CSVファイルを再読み込み
sample = pd.read_csv('sample_submit.csv')
stadium = pd.read_csv('stadium.csv')

# 確認
print(train_tmp.shape)
print(test_new.shape)
print(condition_new.shape)
print(sample.shape)
print(stadium.shape)

(1953, 46)
(351, 10)
(2304, 31)
(312, 2)
(59, 3)

### 欠損値の確認

In [16]:
print(train_tmp.isnull().sum())
print(test_new.isnull().sum())
print(condition_new.isnull().sum())
print(sample.isnull().sum())
print(stadium.isnull().sum())

id             0
y              0
year           0
stage          0
match          0
gameday        0
time           0
home           0
away           0
stadium        0
tv             0
home_score     0
away_score     0
weather        0
temperature    0
humidity       0
referee        0
home_team      0
home_01        0
home_02        0
home_03        0
home_04        0
home_05        0
home_06        0
home_07        0
home_08        0
home_09        0
home_10        0
home_11        0
away_team      0
away_01        0
away_02        0
away_03        0
away_04        0
away_05        0
away_06        0
away_07        0
away_08        0
away_09        0
away_10        0
away_11        0
address        0
capa           0
month          0
week           0
match_num      0
dtype: int64
id         0
year       0
stage      0
match      0
gameday    0
time       0
home       0
away       0
stadium    0
tv         0
dtype: int64
id             0
home_score     0
away_score     0
weather        0
temperature    0
humidity       0
referee        0
home_team      0
home_01        0
home_02        0
home_03        0
home_04        0
home_05        0
home_06        0
home_07        0
home_08        0
home_09        0
home_10        0
home_11        0
away_team      0
away_01        0
away_02        0
away_03        0
away_04        0
away_05        0
away_06        0
away_07        0
away_08        0
away_09        0
away_10        0
away_11        0
dtype: int64
15822            0
10662.3951191    0
dtype: int64
name       0
address    0
capa       0
dtype: int64